linkid-ws/src/wsdl/liberty-idwsf-dst-ref-v2.1-link.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="SafeOnlineDataWebService" targetNamespace="urn:liberty:dst:2006-08:ref:safe-online"
             xmlns:tns="urn:liberty:dst:2006-08:ref:safe-online" xmlns:dstref="urn:liberty:dst:2006-08:ref:safe-online"
             xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsaw="http://www.w3.org/2006/02/addressing/wsdl"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://schemas.xmlsoap.org/wsdl/
                        http://schemas.xmlsoap.org/wsdl/
        http://www.w3.org/2006/02/addressing/wsdl
        http://www.w3.org/2006/02/addressing/wsdl/ws-addr-wsdl.xsd">
    <documentation>
        WSDL for Liberty ID-WSF DST Ref. Copyright 2007 by LIN.K
    </documentation>
    <types>
        <xsd:schema>
            <xsd:import namespace="urn:liberty:dst:2006-08:ref:safe-online" schemaLocation="liberty-idwsf-dst-ref-v2.1-safe-online.xsd" />
        </xsd:schema>
    </types>
    <message name="CreateRequest">
        <part name="body" element="dstref:Create" />
    </message>
    <message name="CreateResponse">
        <part name="body" element="dstref:CreateResponse" />
    </message>
    <message name="QueryRequest">
        <part name="body" element="dstref:Query" />
    </message>
    <message name="QueryResponse">
        <part name="body" element="dstref:QueryResponse" />
    </message>
    <message name="ModifyRequest">
        <part name="body" element="dstref:Modify" />
    </message>
    <message name="ModifyResponse">
        <part name="body" element="dstref:ModifyResponse" />
    </message>
    <message name="DeleteRequest">
        <part name="body" element="dstref:Delete" />
    </message>
    <message name="DeleteResponse">
        <part name="body" element="dstref:DeleteResponse" />
    </message>
    <portType name="DataServicePort">
        <operation name="Create">
            <input message="tns:CreateRequest" />
            <output message="tns:CreateResponse" />
        </operation>
        <operation name="Query">
            <input message="tns:QueryRequest" />
            <output message="tns:QueryResponse" />
        </operation>
        <operation name="Modify">
            <input message="tns:ModifyRequest" />
            <output message="tns:ModifyResponse" />
        </operation>
        <operation name="Delete">
            <input message="tns:DeleteRequest" />
            <output message="tns:DeleteResponse" />
        </operation>
    </portType>
    <binding name="DataServiceSoapBinding" type="tns:DataServicePort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
        <operation name="Create">
            <soap:operation soapAction="urn:liberty:dst:2006-08:ref:Create" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
        <operation name="Query">
            <soap:operation soapAction="urn:liberty:dst:2006-08:ref:Query" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
        <operation name="Modify">
            <soap:operation soapAction="urn:liberty:dst:2006-08:ref:Modify" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
        <operation name="Delete">
            <soap:operation soapAction="urn:liberty:dst:2006-08:ref:Delete" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
    </binding>
    <service name="DataService">
        <port name="DataServicePort" binding="dstref:DataServiceSoapBinding">
            <soap:address location="http://example.com/dataservice" />
        </port>
    </service>
</definitions>
