linkid-ws/src/wsdl/linkid-3.1-reporting.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:net:lin-k:linkid:3.1:core" xmlns:tns="urn:net:lin-k:linkid:3.1:core"
        elementFormDefault="qualified">

    <include schemaLocation="linkid-3.1-common.xsd" />

    <!-- **************************************************************************************************************************************************
         *                                                                  Reporting                                                                     *
         **************************************************************************************************************************************************  -->

    <!-- Reporting: Payment report -->

    <element name="PaymentReportRequest">
		<complexType>
            <sequence>
                <element name="orderReferences" type="string" minOccurs="0" maxOccurs="unbounded" />
                <element name="mandateReferences" type="string" minOccurs="0" maxOccurs="unbounded" />
                <element name="dateFilter" type="tns:ReportDateFilter" minOccurs="0" maxOccurs="1" />
                <element name="pageFilter" type="tns:ReportPageFilter" minOccurs="0" maxOccurs="1" />
            </sequence>
		</complexType>
	</element>

    <element name="PaymentReportResponse">
        <complexType>
            <sequence>
                <element name="total" type="long" minOccurs="1" maxOccurs="1" />
                <element name="orders" type="tns:PaymentOrder" minOccurs="0" maxOccurs="unbounded" />
                <element name="error" type="tns:ReportError" minOccurs="0" maxOccurs="1" />
            </sequence>
        </complexType>
    </element>

    <!-- Reporting: Parking report -->

    <element name="ParkingReportRequest">
		<complexType>
            <sequence>
                <element name="barCodes" type="string" minOccurs="0" maxOccurs="unbounded" />
                <element name="ticketNumbers" type="string" minOccurs="0" maxOccurs="unbounded" />
                <element name="dtaKeys" type="string" minOccurs="0" maxOccurs="unbounded" />
                <element name="parkings" type="string" minOccurs="0" maxOccurs="unbounded" />
                <element name="dateFilter" type="tns:ReportDateFilter" minOccurs="0" maxOccurs="1" />
                <element name="pageFilter" type="tns:ReportPageFilter" minOccurs="0" maxOccurs="1" />
            </sequence>
		</complexType>
	</element>

    <element name="ParkingReportResponse">
        <complexType>
            <sequence>
                <element name="total" type="long" minOccurs="1" maxOccurs="1" />
                <element name="sessions" type="tns:ParkingSession" minOccurs="0" maxOccurs="unbounded" />
                <element name="error" type="tns:ReportError" minOccurs="0" maxOccurs="1" />
            </sequence>
        </complexType>
    </element>

    <!-- Reporting: Wallet report -->

    <element name="WalletReportRequest">
        <complexType>
            <sequence>
                <element name="language" type="string" minOccurs="0" maxOccurs="1">
                    <annotation>
                        <documentation>
                            Optional language in ISO-639-1 format, if not specified, defaults to en
                        </documentation>
                    </annotation>
                </element>
                <element name="walletOrganizationId" type="string" minOccurs="1" maxOccurs="1" />
                <element name="userFilter" type="tns:UserFilter" minOccurs="0" maxOccurs="1" />
                <element name="dateFilter" type="tns:ReportDateFilter" minOccurs="0" maxOccurs="1" />
                <element name="applicationFilter" type="tns:ReportApplicationFilter" minOccurs="0" maxOccurs="1" />
                <element name="walletFilter" type="tns:ReportWalletFilter" minOccurs="0" maxOccurs="1" />
                <element name="walletReportTypeFilter" type="tns:WalletReportTypeFilter" minOccurs="0" maxOccurs="1" />
                <element name="pageFilter" type="tns:ReportPageFilter" minOccurs="0" maxOccurs="1" />
            </sequence>
        </complexType>
    </element>

    <element name="WalletReportResponse">
        <complexType>
            <sequence>
                <element name="total" type="long" minOccurs="1" maxOccurs="1" />
                <element name="transactions" type="tns:WalletReportTransaction" minOccurs="0" maxOccurs="unbounded" />
                <element name="error" type="tns:ReportError" minOccurs="0" maxOccurs="1" />
            </sequence>
        </complexType>
    </element>

    <!-- Reporting: Wallet info report -->

    <element name="WalletInfoReportRequest">
        <complexType>
            <sequence>
                <element name="language" type="string" minOccurs="0" maxOccurs="1">
                    <annotation>
                        <documentation>
                            Optional language in ISO-639-1 format, if not specified, defaults to en
                        </documentation>
                    </annotation>
                </element>
                <element name="walletId" type="string" minOccurs="1" maxOccurs="unbounded" />
            </sequence>
        </complexType>
    </element>

    <element name="WalletInfoReportResponse">
        <complexType>
            <sequence>
                <element name="walletInfo" type="tns:WalletInfoReport" minOccurs="0" maxOccurs="unbounded" />
                <element name="error" type="tns:WalletInfoReportError" minOccurs="0" maxOccurs="1" />
            </sequence>
        </complexType>
    </element>

    <!-- Reporting: Common -->

    <complexType name="WalletReportTypeFilter">
        <sequence>
            <element name="type" type="tns:WalletReportType" minOccurs="0" maxOccurs="unbounded" />
        </sequence>
    </complexType>

    <complexType name="WalletReportTransaction">
        <sequence>
            <element name="id" type="string" minOccurs="1" maxOccurs="1" />
            <element name="walletId" type="string" minOccurs="1" maxOccurs="1" />
            <element name="walletOrganizationId" type="string" minOccurs="1" maxOccurs="1" />
            <element name="walletOrganizationFriendly" type="string" minOccurs="1" maxOccurs="1" />
            <element name="creationDate" type="dateTime" minOccurs="1" maxOccurs="1" />
            <element name="transactionId" type="string" minOccurs="1" maxOccurs="1" />
            <element name="amount" type="double" minOccurs="1" maxOccurs="1" />
            <element name="currency" type="tns:Currency" minOccurs="0" maxOccurs="1" />
            <element name="walletCoin" type="string" minOccurs="0" maxOccurs="1" />
            <element name="refundAmount" type="double" minOccurs="1" maxOccurs="1" />
            <element name="refundedDate" type="dateTime" minOccurs="0" maxOccurs="1" />
            <element name="committedDate" type="dateTime" minOccurs="0" maxOccurs="1" />
            <element name="paymentDescription" type="string" minOccurs="0" maxOccurs="1" />
            <element name="userId" type="string" minOccurs="1" maxOccurs="1" />
            <element name="applicationName" type="string" minOccurs="1" maxOccurs="1" />
            <element name="applicationFriendly" type="string" minOccurs="1" maxOccurs="1" />
            <element name="type" type="tns:WalletReportType" minOccurs="1" maxOccurs="1" />
            <element name="reportInfo" type="tns:WalletReportInfo" minOccurs="0" maxOccurs="1" />
        </sequence>
    </complexType>

    <complexType name="WalletInfoReport">
        <sequence>
            <element name="walletId" type="string" minOccurs="1" maxOccurs="1" />
            <element name="created" type="date" minOccurs="1" maxOccurs="1" />
            <element name="removed" type="date" minOccurs="1" maxOccurs="1" />
            <element name="userId" type="string" minOccurs="1" maxOccurs="1" />
            <element name="organizationId" type="string" minOccurs="1" maxOccurs="1" />
            <element name="organization" type="string" minOccurs="1" maxOccurs="1" />
            <element name="balance" type="double" minOccurs="1" maxOccurs="1" />
        </sequence>
    </complexType>

    <simpleType name="WalletReportType">
		<restriction base="string">
			<enumeration value="user.transaction">
				<annotation>
					<documentation>Transaction initiated by the user</documentation>
				</annotation>
			</enumeration>
			<enumeration value="wallet.add">
				<annotation>
					<documentation>Wallet was added</documentation>
				</annotation>
			</enumeration>
			<enumeration value="wallet.remove">
				<annotation>
					<documentation>Wallet was removed</documentation>
				</annotation>
			</enumeration>
			<enumeration value="wallet.unremove">
				<annotation>
					<documentation>Wallet was unremoved</documentation>
				</annotation>
			</enumeration>
			<enumeration value="application.add.credit.initial">
				<annotation>
					<documentation>Application added credit to the wallet when the wallet was created</documentation>
				</annotation>
			</enumeration>
			<enumeration value="application.add.credit">
				<annotation>
					<documentation>Application added credit to the wallet</documentation>
				</annotation>
			</enumeration>
			<enumeration value="application.remove.credit">
				<annotation>
					<documentation>Application removed credit from the wallet</documentation>
				</annotation>
			</enumeration>
			<enumeration value="application.refund">
				<annotation>
					<documentation>Application refunded credit to the wallet</documentation>
				</annotation>
			</enumeration>
		</restriction>
    </simpleType>

	<complexType name="ReportError">
        <attribute name="errorCode" type="tns:ReportErrorCode" use="required" />
    </complexType>

    <simpleType name="ReportErrorCode">
		<annotation>
			<documentation>Error codes</documentation>
		</annotation>
		<restriction base="string">
			<enumeration value="error.too.many.results">
				<annotation>
					<documentation>There are too many results to return, please narrow down your search</documentation>
				</annotation>
			</enumeration>
			<enumeration value="error.invalid.page">
				<annotation>
					<documentation>Invalid page filter config, e.g. firstResult > total</documentation>
				</annotation>
			</enumeration>
			<enumeration value="error.permission.denied">
				<annotation>
					<documentation>Permission denied</documentation>
				</annotation>
			</enumeration>
			<enumeration value="error.unexpected">
				<annotation>
					<documentation>Something unexpected happened, consult a linkID dev for more information</documentation>
				</annotation>
			</enumeration>
			<enumeration value="error.maintenance">
				<annotation>
					<documentation>linkID is down for maintenance</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>

    <complexType name="WalletInfoReportError">
        <attribute name="errorCode" type="tns:WalletInfoReportErrorCode" use="required" />
    </complexType>

    <simpleType name="WalletInfoReportErrorCode">
		<annotation>
			<documentation>Error codes</documentation>
		</annotation>
		<restriction base="string">
			<enumeration value="error.permission.denied">
				<annotation>
					<documentation>Permission denied</documentation>
				</annotation>
			</enumeration>
			<enumeration value="error.unexpected">
				<annotation>
					<documentation>Something unexpected happened, consult a linkID dev for more information</documentation>
				</annotation>
			</enumeration>
			<enumeration value="error.maintenance">
				<annotation>
					<documentation>linkID is down for maintenance</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>

</schema>