linkid-ws/src/wsdl/linkid-3.1-common.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:net:lin-k:linkid:3.1:core" xmlns:tns="urn:net:lin-k:linkid:3.1:core"
        elementFormDefault="qualified">

    <!-- **************************************************************************************************************************************************
         *                                                                  Common                                                                        *
         **************************************************************************************************************************************************  -->

    <complexType name="ReportPageFilter">
        <attribute name="firstResult" type="int" use="required" />
        <attribute name="maxResults" type="int" use="required" />
    </complexType>

    <complexType name="ReportDateFilter">
        <attribute name="startDate" type="dateTime" use="required" />
        <attribute name="endDate" type="dateTime" use="optional" />
    </complexType>

    <complexType name="ReportApplicationFilter">
        <attribute name="applicationName" type="string" use="required" />
    </complexType>

    <complexType name="ReportWalletFilter">
        <attribute name="walletId" type="string" use="required" />
    </complexType>

    <complexType name="UserFilter">
        <sequence>
            <element name="userIds" type="string" minOccurs="1" maxOccurs="unbounded">
                <annotation>
                    <documentation>List of userId(s) to filter on</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>

    <complexType name="ApplicationFilter">
        <sequence>
            <element name="applications" type="string" minOccurs="1" maxOccurs="unbounded">
                <annotation>
                    <documentation>List of application(s) to filter on</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>

    <simpleType name="PaymentStatusType">
		<annotation>
			<documentation>Payment status</documentation>
		</annotation>
		<restriction base="string">
			<enumeration value="STARTED">
				<annotation>
					<documentation>Payment is being processed</documentation>
				</annotation>
			</enumeration>
			<enumeration value="AUTHORIZED">
				<annotation>
					<documentation>Payment is authorized</documentation>
				</annotation>
			</enumeration>
			<enumeration value="FAILED">
				<annotation>
					<documentation>Payment has failed</documentation>
				</annotation>
			</enumeration>
			<enumeration value="REFUNDED">
				<annotation>
					<documentation>Payment has been refunded</documentation>
				</annotation>
			</enumeration>
			<enumeration value="REFUND_STARTED">
				<annotation>
					<documentation>Payment refund operation has started</documentation>
				</annotation>
			</enumeration>
			<enumeration value="WAITING_FOR_UPDATE">
				<annotation>
					<documentation>linkID stopped waiting for status update, SP will be informed on payment status change</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>

    <simpleType name="Currency">
		<annotation>
			<documentation>Currency</documentation>
		</annotation>
		<restriction base="string">
			<enumeration value="EUR">
				<annotation>
					<documentation>euro</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>

    <complexType name="PaymentContext">
        <sequence>
            <element name="amount" type="double" minOccurs="1" maxOccurs="1">
                <annotation>
                    <documentation>The amount to be payed ( in cents )</documentation>
                </annotation>
            </element>
            <element name="currency" type="tns:Currency" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>Optional payment amount currency, if null have to specify wallet coin</documentation>
                </annotation>
            </element>
            <element name="walletCoin" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>Optional payment amount wallet coin, if null have to specify currency</documentation>
                </annotation>
            </element>
            <element name="description" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>Optional payment description</documentation>
                </annotation>
            </element>
            <element name="orderReference" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>Optional order reference</documentation>
                </annotation>
            </element>
            <element name="paymentProfile" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>Optional payment profile</documentation>
                </annotation>
            </element>
            <element name="configuration" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>Optional payment configuration</documentation>
                </annotation>
            </element>
            <element name="validationTime" type="int" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>Optional maximum time to wait for payment validation (expressed in seconds), if not specified defaults to 5s</documentation>
                </annotation>
            </element>
            <element name="allowPartial" type="boolean" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>allow partial payments via wallets, this flag does make sense if you allow normal payment methods</documentation>
                </annotation>
            </element>
            <element name="onlyWallets" type="boolean" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>allow only wallets for this payment, NOTE: deprecated: use payment configurations</documentation>
                </annotation>
            </element>
            <element name="mandate" type="boolean" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>mandate or not</documentation>
                </annotation>
            </element>
            <element name="mandateDescription" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>mandate description</documentation>
                </annotation>
            </element>
            <element name="mandateReference" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>mandate reference</documentation>
                </annotation>
            </element>
            <element name="paymentStatusLocation" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>optional payment status location</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>

    <complexType name="Callback">
        <sequence>
            <element name="location" type="string" minOccurs="1" maxOccurs="1">
                <annotation>
                    <documentation>location the linkID client will load when finished</documentation>
                </annotation>
            </element>
            <element name="appSessionId" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>optional sessionId a SP can provide to load in session state before linkID was started</documentation>
                </annotation>
            </element>
            <element name="inApp" type="boolean" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>display the location inApp (webView) or via the client's browser</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>

    <complexType name="PaymentTransaction">
        <sequence>
            <element name="id" type="string" minOccurs="1" maxOccurs="1" />
            <element name="paymentMethodType" type="tns:PaymentMethodType" minOccurs="1" maxOccurs="1" />
            <element name="paymentMethod" type="string" minOccurs="1" maxOccurs="1" />
            <element name="paymentState" type="tns:PaymentStatusType" minOccurs="1" maxOccurs="1" />
            <element name="creationDate" type="dateTime" minOccurs="1" maxOccurs="1" />
            <element name="authorizationDate" type="dateTime" minOccurs="0" maxOccurs="1" />
            <element name="capturedDate" type="dateTime" minOccurs="0" maxOccurs="1" />
            <element name="refundedDate" type="dateTime" minOccurs="0" maxOccurs="1" />
            <element name="docdataReference" type="string" minOccurs="0" maxOccurs="1" />
            <element name="amount" type="double" minOccurs="1" maxOccurs="1" />
            <element name="currency" type="tns:Currency" minOccurs="1" maxOccurs="1" />
            <element name="refundAmount" type="double" minOccurs="1" maxOccurs="1" />
        </sequence>
    </complexType>

    <simpleType name="PaymentMethodType">
		<annotation>
			<documentation>Payment method types ( not wallets )</documentation>
		</annotation>
        <restriction base="string">
            <enumeration value="UNKNOWN" />
            <enumeration value="VISA" />
            <enumeration value="MASTERCARD" />
            <enumeration value="SEPA" />
            <enumeration value="KLARNA" />
        </restriction>
    </simpleType>

    <complexType name="WalletTransaction">
        <sequence>
            <element name="walletId" type="string" minOccurs="1" maxOccurs="1" />
            <element name="walletOrganizationId" type="string" minOccurs="1" maxOccurs="1" />
            <element name="walletOrganizationFriendly" type="string" minOccurs="1" maxOccurs="1" />
            <element name="creationDate" type="dateTime" minOccurs="1" maxOccurs="1" />
            <element name="transactionId" type="string" minOccurs="1" maxOccurs="1" />
            <element name="amount" type="double" minOccurs="1" maxOccurs="1" />
            <element name="currency" type="tns:Currency" minOccurs="0" maxOccurs="1" />
            <element name="walletCoin" type="string" minOccurs="0" maxOccurs="1" />
            <element name="refundAmount" type="double" minOccurs="1" maxOccurs="1" />
            <element name="refundedDate" type="dateTime" minOccurs="0" maxOccurs="1" />
            <element name="committedDate" type="dateTime" minOccurs="0" maxOccurs="1" />
        </sequence>
    </complexType>

    <complexType name="PaymentOrder">
        <sequence>
            <element name="profile" type="string" minOccurs="0" maxOccurs="1" />
            <element name="date" type="dateTime" minOccurs="1" maxOccurs="1" />
            <element name="amount" type="double" minOccurs="1" maxOccurs="1" />
            <element name="currency" type="tns:Currency" minOccurs="0" maxOccurs="1" />
            <element name="walletCoin" type="string" minOccurs="0" maxOccurs="1" />
            <element name="description" type="string" minOccurs="1" maxOccurs="1" />
            <element name="paymentState" type="tns:PaymentStatusType" minOccurs="1" maxOccurs="1" />
            <element name="amountPayed" type="double" minOccurs="1" maxOccurs="1" />
            <element name="amountRefunded" type="double" minOccurs="1" maxOccurs="1" />
            <element name="authorized" type="boolean" minOccurs="0" maxOccurs="1" />
            <element name="authorizedDate" type="dateTime" minOccurs="0" maxOccurs="1" />
            <element name="captured" type="boolean" minOccurs="0" maxOccurs="1" />
            <element name="capturedDate" type="dateTime" minOccurs="0" maxOccurs="1" />
            <element name="refunded" type="boolean" minOccurs="0" maxOccurs="1" />
            <element name="refundedDate" type="dateTime" minOccurs="0" maxOccurs="1" />
            <element name="orderReference" type="string" minOccurs="1" maxOccurs="1" />
            <element name="userId" type="string" minOccurs="1" maxOccurs="1" />
            <element name="email" type="string" minOccurs="1" maxOccurs="1" />
            <element name="givenName" type="string" minOccurs="1" maxOccurs="1" />
            <element name="familyName" type="string" minOccurs="1" maxOccurs="1" />
            <element name="transactions" type="tns:PaymentTransaction" minOccurs="0" maxOccurs="unbounded" />
            <element name="walletTransactions" type="tns:WalletTransaction" minOccurs="0" maxOccurs="unbounded" />
        </sequence>
    </complexType>

    <complexType name="ParkingSession">
        <sequence>
            <element name="date" type="dateTime" minOccurs="1" maxOccurs="1" />
            <element name="barCode" type="string" minOccurs="1" maxOccurs="1" />
            <element name="ticketNumber" type="string" minOccurs="0" maxOccurs="1" />
            <element name="dtaKey" type="string" minOccurs="0" maxOccurs="1" />
            <element name="parking" type="string" minOccurs="1" maxOccurs="1" />
            <element name="userId" type="string" minOccurs="1" maxOccurs="1" />
            <element name="turnover" type="double" minOccurs="1" maxOccurs="1" />
            <element name="validated" type="boolean" minOccurs="1" maxOccurs="1" />
            <element name="paymentOrderReference" type="string" minOccurs="1" maxOccurs="1" />
            <element name="paymentState" type="tns:PaymentStatusType" minOccurs="1" maxOccurs="1" />
        </sequence>
    </complexType>

    <complexType name="QRCodeInfo">
        <sequence>
            <element name="qrEncoded" type="string" minOccurs="1" maxOccurs="1">
                <annotation>
                    <documentation>Base64 encoded QR code image</documentation>
                </annotation>
            </element>
            <element name="qrURL" type="string" minOccurs="1" maxOccurs="1">
                <annotation>
                    <documentation>QR code URL</documentation>
                </annotation>
            </element>
            <element name="qrContent" type="string" minOccurs="1" maxOccurs="1">
                <annotation>
                    <documentation>QR code content, everything but the protocol</documentation>
                </annotation>
            </element>
            <element name="mobile" type="boolean" minOccurs="1" maxOccurs="1">
                <annotation>
                    <documentation>If user agent was specified, will return whether the request was started from a mobile client or not. Else is false</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>

    <complexType name="FavoritesConfiguration">
        <sequence>
            <element name="title" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>Optional title to display in the user's favorites. If not present, the application name is used</documentation>
                </annotation>
            </element>
            <element name="info" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>Optional info to display in the user's favorites. If not present, the application description is used</documentation>
                </annotation>
            </element>
            <element name="logoUrl" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>Optional logo image url to display in the user's favorites. If not present, the application logo is used. Note that there are size restrictions</documentation>
                </annotation>
            </element>
            <element name="backgroundColor" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>The application background color (#xxxxxx) to use in the user's favorites. If not present the application's default theme's bg color is used</documentation>
                </annotation>
            </element>
            <element name="textColor" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>The application text color (#xxxxxx) to use in the user's favorites. If not present the application's default theme's text color is used</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>

    <complexType name="WalletOrganization">
        <sequence>
            <element name="walletOrganizationId" type="string" minOccurs="1" maxOccurs="1">
                <annotation>
                    <documentation>The ID of the wallet organization</documentation>
                </annotation>
            </element>
            <element name="logoUrl" type="string" minOccurs="1" maxOccurs="1">
                <annotation>
                    <documentation>The url of the wallet logo</documentation>
                </annotation>
            </element>
            <element name="expirationInSecs" type="long" minOccurs="1" maxOccurs="1">
                <annotation>
                    <documentation>Expiration of reserved wallet transactions in secs</documentation>
                </annotation>
            </element>
            <element name="sticky" type="boolean" minOccurs="1" maxOccurs="1">
                <annotation>
                    <documentation>Sticky as in even if balance is 0, it will be shown during payments</documentation>
                </annotation>
            </element>
            <element name="autoEnroll" type="boolean" minOccurs="1" maxOccurs="1">
                <annotation>
                    <documentation>Auto enroll users in wallet if trying to pay for an application allowed to use it</documentation>
                </annotation>
            </element>
            <element name="removeWalletOnUnsubscribe" type="boolean" minOccurs="1" maxOccurs="1">
                <annotation>
                    <documentation>If user unsubscribes from application that owns this wallet organization, remove the wallet with it?</documentation>
                </annotation>
            </element>
            <element name="nameLocalization" type="tns:Localization" minOccurs="1" maxOccurs="unbounded">
                <annotation>
                    <documentation>The wallet organization name localizations</documentation>
                </annotation>
            </element>
            <element name="descriptionLocalization" type="tns:Localization" minOccurs="1" maxOccurs="unbounded">
                <annotation>
                    <documentation>The wallet organization description localizations</documentation>
                </annotation>
            </element>
            <element name="coinNameLocalization" type="tns:Localization" minOccurs="0" maxOccurs="unbounded">
                <annotation>
                    <documentation>The wallet organization coin name localizations</documentation>
                </annotation>
            </element>
            <element name="coinNameMultipleLocalization" type="tns:Localization" minOccurs="0" maxOccurs="unbounded">
                <annotation>
                    <documentation>The wallet organization coin name localizations</documentation>
                </annotation>
            </element>
			<element name="statusCode" type="tns:RequestStatusCode" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>The status code of this wallet organization</documentation>
				</annotation>
			</element>
			<element name="currency" type="tns:Currency" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>Currency of the wallet if applicable</documentation>
				</annotation>
			</element>
			<element name="coinId" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>Wallet coin ID of the wallet if applicable</documentation>
				</annotation>
			</element>
			<element name="policyBalance" type="tns:WalletPolicyBalance" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>Balance policy configuration if applicable</documentation>
				</annotation>
			</element>
        </sequence>
    </complexType>

	<complexType name="WalletPolicyBalance">
		<sequence>
			<element name="balance" type="double" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>Optional initial balance given to users when the wallet is created</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>

    <complexType name="WalletOrganizationDetails">
        <sequence>
            <element name="organization" type="tns:WalletOrganization" minOccurs="1" maxOccurs="1">
                <annotation>
                    <documentation>Wallet organization configuration</documentation>
                </annotation>
            </element>
            <element name="owner" type="boolean" minOccurs="1" maxOccurs="1">
                <annotation>
                    <documentation>Whether or not the requesting application owns the wallet</documentation>
                </annotation>
            </element>
			<element name="permissions" type="tns:ApplicationPermissionType" minOccurs="0" maxOccurs="unbounded">
				<annotation>
					<documentation>What permissions do you have?</documentation>
				</annotation>
			</element>
            <element name="stats" type="tns:WalletOrganizationStats" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>Optional wallet organization stats, if requested</documentation>
                </annotation>
            </element>
            <element name="permissionAddCreditApplications" type="string" minOccurs="0" maxOccurs="unbounded">
                <annotation>
                    <documentation>List of applications that have the ADD CREDIT permission</documentation>
                </annotation>
            </element>
            <element name="permissionRemoveCreditApplications" type="string" minOccurs="0" maxOccurs="unbounded">
                <annotation>
                    <documentation>List of applications that have the REMOVE CREDIT permission</documentation>
                </annotation>
            </element>
            <element name="permissionRemoveApplications" type="string" minOccurs="0" maxOccurs="unbounded">
                <annotation>
                    <documentation>List of applications that have the REMOVE permission</documentation>
                </annotation>
            </element>
            <element name="permissionEnrollApplications" type="string" minOccurs="0" maxOccurs="unbounded">
                <annotation>
                    <documentation>List of applications that have the ENROLL permission</documentation>
                </annotation>
            </element>
            <element name="permissionUseApplications" type="string" minOccurs="0" maxOccurs="unbounded">
                <annotation>
                    <documentation>List of applications that have the USE permission</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>

    <complexType name="WalletOrganizationStats">
        <sequence>
            <element name="numberOfWallets" type="long" minOccurs="1" maxOccurs="1">
                <annotation>
                    <documentation>Total number of wallets</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>

    <complexType name="LinkIDApplication">
        <sequence>
            <element name="name" type="string" minOccurs="1" maxOccurs="1">
                <annotation>
                    <documentation>The non localized application name</documentation>
                </annotation>
            </element>
            <element name="friendlyName" type="string" minOccurs="1" maxOccurs="1">
                <annotation>
                    <documentation>The localized application name</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>

    <complexType name="Localization">
        <sequence>
            <element name="languageCode" type="string" minOccurs="1" maxOccurs="1">
                <annotation>
                    <documentation>ISO 639 alpha-2 language code. Optional, default is en</documentation>
                </annotation>
            </element>
            <element name="value" type="string" minOccurs="1" maxOccurs="1">
                <annotation>
                    <documentation>The localization value</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>

    <simpleType name="RequestStatusCode">
		<annotation>
			<documentation>Request Status codes</documentation>
		</annotation>
		<restriction base="string">
			<enumeration value="status.rejected">
				<annotation>
					<documentation>Request was rejected, check the errors why</documentation>
				</annotation>
			</enumeration>
			<enumeration value="status.pending">
				<annotation>
					<documentation>Request is pending further approval</documentation>
				</annotation>
			</enumeration>
			<enumeration value="status.accepted">
				<annotation>
					<documentation>Request is accepted</documentation>
				</annotation>
			</enumeration>
			<enumeration value="status.released">
				<annotation>
					<documentation>Request is released</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>

    <complexType name="CommonError">
        <sequence>
            <element name="errorMessage" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>Optional error message containing additional info</documentation>
                </annotation>
            </element>
        </sequence>
		<attribute name="commonErrorCode" type="tns:CommonErrorCode" use="optional" />
    </complexType>


    <simpleType name="CommonErrorCode">
		<annotation>
			<documentation>Common error codes</documentation>
		</annotation>
		<restriction base="string">
			<enumeration value="error.permission.denied" />
			<enumeration value="error.unexpected" />
			<enumeration value="error.maintenance" />
            <enumeration value="error.deprecated" />
		</restriction>
	</simpleType>


</schema>