linkid-ws/src/wsdl/linkid-3.1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="urn:net:lin-k:linkid:3.1:core"
             xmlns:tns="urn:net:lin-k:linkid:3.1:core" name="LinkIDWebService">
    <types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema">
            <import namespace="urn:net:lin-k:linkid:3.1:core" schemaLocation="linkid-3.1.xsd" />
        </schema>
    </types>

    <!-- =================== Authentication ========================= -->

    <message name="authStartRequest">
		<part name="request" element="tns:AuthStartRequest" />
	</message>
	<message name="authStartResponse">
		<part name="response" element="tns:AuthStartResponse" />
	</message>
    <message name="authPollRequest">
		<part name="request" element="tns:AuthPollRequest" />
	</message>
	<message name="authPollResponse">
		<part name="response" element="tns:AuthPollResponse" />
	</message>
    <message name="authCancelRequest">
		<part name="request" element="tns:AuthCancelRequest" />
	</message>
	<message name="authCancelResponse">
		<part name="response" element="tns:AuthCancelResponse" />
	</message>

    <!-- =================== Callback ============================== -->

    <message name="callbackPullRequest">
		<part name="request" element="tns:CallbackPullRequest" />
	</message>
	<message name="callbackPullResponse">
		<part name="response" element="tns:CallbackPullResponse" />
	</message>

    <!-- =================== Configuration ========================= -->

    <message name="configWalletApplicationsRequest">
		<part name="request" element="tns:ConfigWalletApplicationsRequest" />
	</message>
	<message name="configWalletApplicationsResponse">
		<part name="response" element="tns:ConfigWalletApplicationsResponse" />
	</message>
    <message name="configThemesRequest">
		<part name="request" element="tns:ConfigThemesRequest" />
	</message>
	<message name="configThemesResponse">
		<part name="response" element="tns:ConfigThemesResponse" />
	</message>
    <message name="configLocalizationRequest">
		<part name="request" element="tns:ConfigLocalizationRequest" />
	</message>
	<message name="configLocalizationResponse">
		<part name="response" element="tns:ConfigLocalizationResponse" />
	</message>
    <message name="configApplicationsRequest">
		<part name="request" element="tns:ConfigApplicationsRequest" />
	</message>
	<message name="configApplicationsResponse">
		<part name="response" element="tns:ConfigApplicationsResponse" />
	</message>

    <!-- =================== Payments ========================= -->

    <message name="paymentStatusRequest">
		<part name="request" element="tns:PaymentStatusRequest" />
	</message>
	<message name="paymentStatusResponse">
		<part name="response" element="tns:PaymentStatusResponse" />
	</message>
    <message name="paymentCaptureRequest">
		<part name="request" element="tns:PaymentCaptureRequest" />
	</message>
	<message name="paymentCaptureResponse">
		<part name="response" element="tns:PaymentCaptureResponse" />
	</message>
    <message name="paymentRefundRequest">
		<part name="request" element="tns:PaymentRefundRequest" />
	</message>
	<message name="paymentRefundResponse">
		<part name="response" element="tns:PaymentRefundResponse" />
	</message>
    <message name="mandatePaymentRequest">
		<part name="request" element="tns:MandatePaymentRequest" />
	</message>
	<message name="mandatePaymentResponse">
		<part name="response" element="tns:MandatePaymentResponse" />
	</message>

    <!-- =================== LTQR ==================================== -->

    <message name="ltqrPushRequest">
		<part name="request" element="tns:LTQRPushRequest" />
	</message>
	<message name="ltqrPushResponse">
		<part name="response" element="tns:LTQRPushResponse" />
	</message>
    <message name="ltqrBulkPushRequest">
		<part name="request" element="tns:LTQRBulkPushRequest" />
	</message>
	<message name="ltqrBulkPushResponse">
		<part name="response" element="tns:LTQRBulkPushResponse" />
	</message>
    <message name="ltqrChangeRequest">
		<part name="request" element="tns:LTQRChangeRequest" />
	</message>
	<message name="ltqrChangeResponse">
		<part name="response" element="tns:LTQRChangeResponse" />
	</message>
    <message name="ltqrPullRequest">
		<part name="request" element="tns:LTQRPullRequest" />
	</message>
	<message name="ltqrPullResponse">
		<part name="response" element="tns:LTQRPullResponse" />
	</message>
    <message name="ltqrRemoveRequest">
		<part name="request" element="tns:LTQRRemoveRequest" />
	</message>
	<message name="ltqrRemoveResponse">
		<part name="response" element="tns:LTQRRemoveResponse" />
	</message>
    <message name="ltqrInfoRequest">
		<part name="request" element="tns:LTQRInfoRequest" />
	</message>
	<message name="ltqrInfoResponse">
		<part name="response" element="tns:LTQRInfoResponse" />
	</message>

    <!-- =================== Reporting ================================ -->

    <message name="paymentReportRequest">
		<part name="request" element="tns:PaymentReportRequest" />
	</message>
    <message name="paymentReportResponse">
		<part name="response" element="tns:PaymentReportResponse" />
	</message>
	<message name="parkingReportRequest">
		<part name="request" element="tns:ParkingReportRequest" />
	</message>
    <message name="parkingReportResponse">
		<part name="response" element="tns:ParkingReportResponse" />
	</message>
	<message name="walletReportRequest">
		<part name="request" element="tns:WalletReportRequest" />
	</message>
    <message name="walletReportResponse">
		<part name="response" element="tns:WalletReportResponse" />
	</message>
	<message name="walletInfoReportRequest">
		<part name="request" element="tns:WalletInfoReportRequest" />
	</message>
    <message name="walletInfoReportResponse">
		<part name="response" element="tns:WalletInfoReportResponse" />
	</message>

    <!-- =================== Wallets ================================ -->

    <message name="walletEnrollRequest">
		<part name="request" element="tns:WalletEnrollRequest" />
	</message>
	<message name="walletEnrollResponse">
		<part name="response" element="tns:WalletEnrollResponse" />
	</message>
        <message name="walletGetInfoRequest">
		<part name="request" element="tns:WalletGetInfoRequest" />
	</message>
	<message name="walletGetInfoResponse">
		<part name="response" element="tns:WalletGetInfoResponse" />
	</message>
    <message name="walletAddCreditRequest">
		<part name="request" element="tns:WalletAddCreditRequest" />
	</message>
	<message name="walletAddCreditResponse">
		<part name="response" element="tns:WalletAddCreditResponse" />
	</message>
    <message name="walletRemoveCreditRequest">
		<part name="request" element="tns:WalletRemoveCreditRequest" />
	</message>
	<message name="walletRemoveCreditResponse">
		<part name="response" element="tns:WalletRemoveCreditResponse" />
	</message>
    <message name="walletRemoveRequest">
		<part name="request" element="tns:WalletRemoveRequest" />
	</message>
	<message name="walletRemoveResponse">
		<part name="response" element="tns:WalletRemoveResponse" />
	</message>
    <message name="walletCommitRequest">
		<part name="request" element="tns:WalletCommitRequest" />
	</message>
	<message name="walletCommitResponse">
		<part name="response" element="tns:WalletCommitResponse" />
	</message>
    <message name="walletReleaseRequest">
		<part name="request" element="tns:WalletReleaseRequest" />
	</message>
	<message name="walletReleaseResponse">
		<part name="response" element="tns:WalletReleaseResponse" />
	</message>
    <message name="walletOrganizationAddRequest">
		<part name="request" element="tns:WalletOrganizationAddRequest" />
	</message>
	<message name="walletOrganizationAddResponse">
		<part name="response" element="tns:WalletOrganizationAddResponse" />
	</message>
    <message name="walletOrganizationUpdateRequest">
		<part name="request" element="tns:WalletOrganizationUpdateRequest" />
	</message>
	<message name="walletOrganizationUpdateResponse">
		<part name="response" element="tns:WalletOrganizationUpdateResponse" />
	</message>
    <message name="walletOrganizationListRequest">
		<part name="request" element="tns:WalletOrganizationListRequest" />
	</message>
	<message name="walletOrganizationListResponse">
		<part name="response" element="tns:WalletOrganizationListResponse" />
	</message>
    <message name="walletOrganizationRemoveRequest">
		<part name="request" element="tns:WalletOrganizationRemoveRequest" />
	</message>
	<message name="walletOrganizationRemoveResponse">
		<part name="response" element="tns:WalletOrganizationRemoveResponse" />
	</message>

    <!-- =================== Vouchers ================================ -->

    <message name="voucherRewardRequest">
		<part name="request" element="tns:VoucherRewardRequest" />
	</message>
	<message name="voucherRewardResponse">
		<part name="response" element="tns:VoucherRewardResponse" />
	</message>
    <message name="voucherListRequest">
		<part name="request" element="tns:VoucherListRequest" />
	</message>
	<message name="voucherListResponse">
		<part name="response" element="tns:VoucherListResponse" />
	</message>
    <message name="voucherListRedeemedRequest">
		<part name="request" element="tns:VoucherListRedeemedRequest" />
	</message>
	<message name="voucherListRedeemedResponse">
		<part name="response" element="tns:VoucherListRedeemedResponse" />
	</message>
    <message name="voucherRedeemRequest">
		<part name="request" element="tns:VoucherRedeemRequest" />
	</message>
	<message name="voucherRedeemResponse">
		<part name="response" element="tns:VoucherRedeemResponse" />
	</message>
    <message name="voucherOrganizationAddUpdateRequest">
		<part name="request" element="tns:VoucherOrganizationAddUpdateRequest" />
	</message>
	<message name="voucherOrganizationAddUpdateResponse">
		<part name="response" element="tns:VoucherOrganizationAddUpdateResponse" />
	</message>
    <message name="voucherOrganizationListRequest">
		<part name="request" element="tns:VoucherOrganizationListRequest" />
	</message>
	<message name="voucherOrganizationListResponse">
		<part name="response" element="tns:VoucherOrganizationListResponse" />
	</message>
    <message name="voucherOrganizationListUsersRequest">
		<part name="request" element="tns:VoucherOrganizationListUsersRequest" />
	</message>
	<message name="voucherOrganizationListUsersResponse">
		<part name="response" element="tns:VoucherOrganizationListUsersResponse" />
	</message>
    <message name="voucherOrganizationRemoveRequest">
		<part name="request" element="tns:VoucherOrganizationRemoveRequest" />
	</message>
	<message name="voucherOrganizationRemoveResponse">
		<part name="response" element="tns:VoucherOrganizationRemoveResponse" />
	</message>
    <message name="voucherOrganizationActivateRequest">
		<part name="request" element="tns:VoucherOrganizationActivateRequest" />
	</message>
	<message name="voucherOrganizationActivateResponse">
		<part name="response" element="tns:VoucherOrganizationActivateResponse" />
	</message>
    <message name="voucherOrganizationHistoryRequest">
		<part name="request" element="tns:VoucherOrganizationHistoryRequest" />
	</message>
	<message name="voucherOrganizationHistoryResponse">
		<part name="response" element="tns:VoucherOrganizationHistoryResponse" />
	</message>

    <!-- =================== Themes ========================= -->

    <message name="themeAddRequest">
		<part name="request" element="tns:ThemeAddRequest" />
	</message>
	<message name="themeAddResponse">
		<part name="response" element="tns:ThemeAddResponse" />
	</message>
    <message name="themeRemoveRequest">
		<part name="request" element="tns:ThemeRemoveRequest" />
	</message>
	<message name="themeRemoveResponse">
		<part name="response" element="tns:ThemeRemoveResponse" />
	</message>
    <message name="themeStatusRequest">
		<part name="request" element="tns:ThemeStatusRequest" />
	</message>
	<message name="themeStatusResponse">
		<part name="response" element="tns:ThemeStatusResponse" />
	</message>
    <message name="themesRequest">
		<part name="request" element="tns:ThemesRequest" />
	</message>
	<message name="themesResponse">
		<part name="response" element="tns:ThemesResponse" />
	</message>

	<!-- =================== Payment configurations==================== -->

	<message name="paymentConfigurationAddRequest">
		<part name="request" element="tns:PaymentConfigurationAddRequest" />
	</message>
	<message name="paymentConfigurationAddResponse">
		<part name="response" element="tns:PaymentConfigurationAddResponse" />
	</message>
	<message name="paymentConfigurationUpdateRequest">
		<part name="request" element="tns:PaymentConfigurationUpdateRequest" />
	</message>
	<message name="paymentConfigurationUpdateResponse">
		<part name="response" element="tns:PaymentConfigurationUpdateResponse" />
	</message>
	<message name="paymentConfigurationRemoveRequest">
		<part name="request" element="tns:PaymentConfigurationRemoveRequest" />
	</message>
	<message name="paymentConfigurationRemoveResponse">
		<part name="response" element="tns:PaymentConfigurationRemoveResponse" />
	</message>
	<message name="paymentConfigurationListRequest">
		<part name="request" element="tns:PaymentConfigurationListRequest" />
	</message>
	<message name="paymentConfigurationListResponse">
		<part name="response" element="tns:PaymentConfigurationListResponse" />
	</message>

	<!-- =================== Application permissions ==================== -->

	<message name="applicationPermissionAddRequest">
		<part name="request" element="tns:ApplicationPermissionAddRequest" />
	</message>
	<message name="applicationPermissionAddResponse">
		<part name="response" element="tns:ApplicationPermissionAddResponse" />
	</message>
    <message name="applicationPermissionRemoveRequest">
		<part name="request" element="tns:ApplicationPermissionRemoveRequest" />
	</message>
	<message name="applicationPermissionRemoveResponse">
		<part name="response" element="tns:ApplicationPermissionRemoveResponse" />
	</message>
    <message name="applicationPermissionListRequest">
		<part name="request" element="tns:ApplicationPermissionListRequest" />
	</message>
	<message name="applicationPermissionListResponse">
		<part name="response" element="tns:ApplicationPermissionListResponse" />
	</message>

	<!-- =================== Application permissions ==================== -->

    <message name="commentGetRequest">
		<part name="request" element="tns:CommentGetRequest" />
	</message>
	<message name="commentGetResponse">
		<part name="response" element="tns:CommentGetResponse" />
	</message>

	<!-- =========================== Ports ========================== -->

    <portType name="LinkIDServicePort">
		<operation name="authStart">
			<input message="tns:authStartRequest" />
			<output message="tns:authStartResponse" />
		</operation>
		<operation name="authPoll">
			<input message="tns:authPollRequest" />
			<output message="tns:authPollResponse" />
		</operation>
		<operation name="authCancel">
			<input message="tns:authCancelRequest" />
			<output message="tns:authCancelResponse" />
		</operation>
		<operation name="callbackPull">
			<input message="tns:callbackPullRequest" />
			<output message="tns:callbackPullResponse" />
		</operation>
        <operation name="configWalletApplications">
            <input message="tns:configWalletApplicationsRequest" />
            <output message="tns:configWalletApplicationsResponse" />
        </operation>
		<operation name="configThemes">
			<input message="tns:configThemesRequest" />
			<output message="tns:configThemesResponse" />
		</operation>
		<operation name="configLocalization">
			<input message="tns:configLocalizationRequest" />
			<output message="tns:configLocalizationResponse" />
		</operation>
		<operation name="configApplications">
			<input message="tns:configApplicationsRequest" />
			<output message="tns:configApplicationsResponse" />
		</operation>
		<operation name="paymentStatus">
			<input message="tns:paymentStatusRequest" />
			<output message="tns:paymentStatusResponse" />
		</operation>
		<operation name="paymentCapture">
			<input message="tns:paymentCaptureRequest" />
			<output message="tns:paymentCaptureResponse" />
		</operation>
		<operation name="paymentRefund">
			<input message="tns:paymentRefundRequest" />
			<output message="tns:paymentRefundResponse" />
		</operation>
		<operation name="mandatePayment">
			<input message="tns:mandatePaymentRequest" />
			<output message="tns:mandatePaymentResponse" />
		</operation>
		<operation name="ltqrPush">
			<input message="tns:ltqrPushRequest" />
			<output message="tns:ltqrPushResponse" />
		</operation>
		<operation name="ltqrBulkPush">
			<input message="tns:ltqrBulkPushRequest" />
			<output message="tns:ltqrBulkPushResponse" />
		</operation>
		<operation name="ltqrChange">
			<input message="tns:ltqrChangeRequest" />
			<output message="tns:ltqrChangeResponse" />
		</operation>
		<operation name="ltqrPull">
			<input message="tns:ltqrPullRequest" />
			<output message="tns:ltqrPullResponse" />
		</operation>
		<operation name="ltqrRemove">
			<input message="tns:ltqrRemoveRequest" />
			<output message="tns:ltqrRemoveResponse" />
		</operation>
		<operation name="ltqrInfo">
			<input message="tns:ltqrInfoRequest" />
			<output message="tns:ltqrInfoResponse" />
		</operation>
		<operation name="paymentReport">
			<input message="tns:paymentReportRequest" />
			<output message="tns:paymentReportResponse" />
		</operation>
		<operation name="parkingReport">
			<input message="tns:parkingReportRequest" />
			<output message="tns:parkingReportResponse" />
		</operation>
		<operation name="walletReport">
			<input message="tns:walletReportRequest" />
			<output message="tns:walletReportResponse" />
		</operation>
		<operation name="walletInfoReport">
			<input message="tns:walletInfoReportRequest" />
			<output message="tns:walletInfoReportResponse" />
		</operation>
		<operation name="walletEnroll">
			<input message="tns:walletEnrollRequest" />
			<output message="tns:walletEnrollResponse" />
		</operation>
		<operation name="walletGetInfo">
			<input message="tns:walletGetInfoRequest" />
			<output message="tns:walletGetInfoResponse" />
		</operation>
		<operation name="walletAddCredit">
			<input message="tns:walletAddCreditRequest" />
			<output message="tns:walletAddCreditResponse" />
		</operation>
		<operation name="walletRemoveCredit">
			<input message="tns:walletRemoveCreditRequest" />
			<output message="tns:walletRemoveCreditResponse" />
		</operation>
		<operation name="walletRemove">
			<input message="tns:walletRemoveRequest" />
			<output message="tns:walletRemoveResponse" />
		</operation>
		<operation name="walletCommit">
			<input message="tns:walletCommitRequest" />
			<output message="tns:walletCommitResponse" />
		</operation>
		<operation name="walletRelease">
			<input message="tns:walletReleaseRequest" />
			<output message="tns:walletReleaseResponse" />
		</operation>
		<operation name="walletOrganizationAdd">
			<input message="tns:walletOrganizationAddRequest" />
			<output message="tns:walletOrganizationAddResponse" />
		</operation>
		<operation name="walletOrganizationUpdate">
			<input message="tns:walletOrganizationUpdateRequest" />
			<output message="tns:walletOrganizationUpdateResponse" />
		</operation>
		<operation name="walletOrganizationList">
			<input message="tns:walletOrganizationListRequest" />
			<output message="tns:walletOrganizationListResponse" />
		</operation>
		<operation name="walletOrganizationRemove">
			<input message="tns:walletOrganizationRemoveRequest" />
			<output message="tns:walletOrganizationRemoveResponse" />
		</operation>
		<operation name="voucherReward">
			<input message="tns:voucherRewardRequest" />
			<output message="tns:voucherRewardResponse" />
		</operation>
		<operation name="voucherList">
			<input message="tns:voucherListRequest" />
			<output message="tns:voucherListResponse" />
		</operation>
		<operation name="voucherListRedeemed">
			<input message="tns:voucherListRedeemedRequest" />
			<output message="tns:voucherListRedeemedResponse" />
		</operation>
		<operation name="voucherRedeem">
			<input message="tns:voucherRedeemRequest" />
			<output message="tns:voucherRedeemResponse" />
		</operation>
		<operation name="voucherOrganizationAddUpdate">
			<input message="tns:voucherOrganizationAddUpdateRequest" />
			<output message="tns:voucherOrganizationAddUpdateResponse" />
		</operation>
		<operation name="voucherOrganizationList">
			<input message="tns:voucherOrganizationListRequest" />
			<output message="tns:voucherOrganizationListResponse" />
		</operation>
		<operation name="voucherOrganizationListUsers">
			<input message="tns:voucherOrganizationListUsersRequest" />
			<output message="tns:voucherOrganizationListUsersResponse" />
		</operation>
		<operation name="voucherOrganizationRemove">
			<input message="tns:voucherOrganizationRemoveRequest" />
			<output message="tns:voucherOrganizationRemoveResponse" />
		</operation>
		<operation name="voucherOrganizationActivate">
			<input message="tns:voucherOrganizationActivateRequest" />
			<output message="tns:voucherOrganizationActivateResponse" />
		</operation>
		<operation name="voucherOrganizationHistory">
			<input message="tns:voucherOrganizationHistoryRequest" />
			<output message="tns:voucherOrganizationHistoryResponse" />
		</operation>
		<operation name="themeAdd">
			<input message="tns:themeAddRequest" />
			<output message="tns:themeAddResponse" />
		</operation>
		<operation name="themeRemove">
			<input message="tns:themeRemoveRequest" />
			<output message="tns:themeRemoveResponse" />
		</operation>
		<operation name="themeStatus">
			<input message="tns:themeStatusRequest" />
			<output message="tns:themeStatusResponse" />
		</operation>
		<operation name="themes">
			<input message="tns:themesRequest" />
			<output message="tns:themesResponse" />
		</operation>
		<operation name="paymentConfigurationAdd">
			<input message="tns:paymentConfigurationAddRequest" />
			<output message="tns:paymentConfigurationAddResponse" />
		</operation>
		<operation name="paymentConfigurationUpdate">
			<input message="tns:paymentConfigurationUpdateRequest" />
			<output message="tns:paymentConfigurationUpdateResponse" />
		</operation>
		<operation name="paymentConfigurationRemove">
			<input message="tns:paymentConfigurationRemoveRequest" />
			<output message="tns:paymentConfigurationRemoveResponse" />
		</operation>
		<operation name="paymentConfigurationList">
			<input message="tns:paymentConfigurationListRequest" />
			<output message="tns:paymentConfigurationListResponse" />
		</operation>
		<operation name="applicationPermissionAdd">
			<input message="tns:applicationPermissionAddRequest" />
			<output message="tns:applicationPermissionAddResponse" />
		</operation>
		<operation name="applicationPermissionRemove">
			<input message="tns:applicationPermissionRemoveRequest" />
			<output message="tns:applicationPermissionRemoveResponse" />
		</operation>
		<operation name="applicationPermissionList">
			<input message="tns:applicationPermissionListRequest" />
			<output message="tns:applicationPermissionListResponse" />
		</operation>
		<operation name="commentGet">
			<input message="tns:commentGetRequest" />
			<output message="tns:commentGetResponse" />
		</operation>
    </portType>

    <!-- ========================= Bindings ======================== -->

    <binding name="LinkIDServiceBinding" type="tns:LinkIDServicePort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
        <operation name="authStart">
            <soap:operation soapAction="urn:net:lin-k:linkid:3.1:authStart" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
        <operation name="authPoll">
            <soap:operation soapAction="urn:net:lin-k:linkid:3.1:authPoll" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
        <operation name="authCancel">
            <soap:operation soapAction="urn:net:lin-k:linkid:3.1:authCancel" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
        <operation name="callbackPull">
            <soap:operation soapAction="urn:net:lin-k:linkid:3.1:callbackPull" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
        <operation name="configWalletApplications">
            <soap:operation soapAction="urn:net:lin-k:linkid:3.1:configWalletApplications" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
        <operation name="configThemes">
            <soap:operation soapAction="urn:net:lin-k:linkid:3.1:themes" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
        <operation name="configLocalization">
            <soap:operation soapAction="urn:net:lin-k:linkid:3.1:localization" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
        <operation name="configApplications">
            <soap:operation soapAction="urn:net:lin-k:linkid:3.1:configApplications" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
        <operation name="paymentStatus">
            <soap:operation soapAction="urn:net:lin-k:linkid:3.1:paymentStatus" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
        <operation name="paymentCapture">
            <soap:operation soapAction="urn:net:lin-k:linkid:3.1:paymentCapture" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
        <operation name="paymentRefund">
            <soap:operation soapAction="urn:net:lin-k:linkid:3.1:paymentRefund" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
        <operation name="mandatePayment">
            <soap:operation soapAction="urn:net:lin-k:linkid:3.1:mandatePayment" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
        <operation name="ltqrPush">
            <soap:operation soapAction="urn:net:lin-k:linkid:3.1:ltqrPush" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
        <operation name="ltqrBulkPush">
            <soap:operation soapAction="urn:net:lin-k:linkid:3.1:ltqrBulkPush" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
        <operation name="ltqrChange">
            <soap:operation soapAction="urn:net:lin-k:linkid:3.1:ltqrChange" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
        <operation name="ltqrPull">
            <soap:operation soapAction="urn:net:lin-k:linkid:3.1:ltqrPull" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
        <operation name="ltqrRemove">
            <soap:operation soapAction="urn:net:lin-k:linkid:3.1:ltqrRemove" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
        <operation name="ltqrInfo">
            <soap:operation soapAction="urn:net:lin-k:linkid:3.1:ltqrInfo" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
        <operation name="paymentReport">
            <soap:operation soapAction="urn:net:lin-k:linkid:3.1:paymentReport" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
        <operation name="parkingReport">
            <soap:operation soapAction="urn:net:lin-k:linkid:3.1:parkingReport" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
        <operation name="walletReport">
            <soap:operation soapAction="urn:net:lin-k:linkid:3.1:walletReport" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
        <operation name="walletInfoReport">
            <soap:operation soapAction="urn:net:lin-k:linkid:3.1:walletInfoReport" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
        <operation name="walletEnroll">
            <soap:operation soapAction="urn:net:lin-k:linkid:3.1:walletEnroll" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
        <operation name="walletGetInfo">
            <soap:operation soapAction="urn:net:lin-k:linkid:3.1:walletGetInfo" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
        <operation name="walletAddCredit">
            <soap:operation soapAction="urn:net:lin-k:linkid:3.1:walletAddCredit" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
        <operation name="walletRemoveCredit">
            <soap:operation soapAction="urn:net:lin-k:linkid:3.1:walletRemoveCredit" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
        <operation name="walletRemove">
            <soap:operation soapAction="urn:net:lin-k:linkid:3.1:walletRemove" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
        <operation name="walletCommit">
            <soap:operation soapAction="urn:net:lin-k:linkid:3.1:walletCommit" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
        <operation name="walletRelease">
            <soap:operation soapAction="urn:net:lin-k:linkid:3.1:walletRelease" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
        <operation name="walletOrganizationAdd">
            <soap:operation soapAction="urn:net:lin-k:linkid:3.1:walletOrganizationAdd" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
        <operation name="walletOrganizationUpdate">
            <soap:operation soapAction="urn:net:lin-k:linkid:3.1:walletOrganizationUpdate" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
        <operation name="walletOrganizationList">
            <soap:operation soapAction="urn:net:lin-k:linkid:3.1:walletOrganizationList" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
        <operation name="walletOrganizationRemove">
            <soap:operation soapAction="urn:net:lin-k:linkid:3.1:walletOrganizationRemove" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
        <operation name="voucherReward">
            <soap:operation soapAction="urn:net:lin-k:linkid:3.1:voucherReward" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
        <operation name="voucherList">
            <soap:operation soapAction="urn:net:lin-k:linkid:3.1:voucherList" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
        <operation name="voucherListRedeemed">
            <soap:operation soapAction="urn:net:lin-k:linkid:3.1:voucherListRedeemed" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
        <operation name="voucherRedeem">
            <soap:operation soapAction="urn:net:lin-k:linkid:3.1:voucherRedeem" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
        <operation name="voucherOrganizationAddUpdate">
            <soap:operation soapAction="urn:net:lin-k:linkid:3.1:voucherOrganizationAddUpdate" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
        <operation name="voucherOrganizationList">
            <soap:operation soapAction="urn:net:lin-k:linkid:3.1:voucherOrganizationList" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
        <operation name="voucherOrganizationListUsers">
            <soap:operation soapAction="urn:net:lin-k:linkid:3.1:voucherOrganizationListUsers" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
        <operation name="voucherOrganizationRemove">
            <soap:operation soapAction="urn:net:lin-k:linkid:3.1:voucherOrganizationRemove" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
        <operation name="voucherOrganizationActivate">
            <soap:operation soapAction="urn:net:lin-k:linkid:3.1:voucherOrganizationActivate" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
        <operation name="voucherOrganizationHistory">
            <soap:operation soapAction="urn:net:lin-k:linkid:3.1:voucherOrganizationHistory" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
        <operation name="themeAdd">
            <soap:operation soapAction="urn:net:lin-k:linkid:3.1:themeAdd" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
        <operation name="themeRemove">
            <soap:operation soapAction="urn:net:lin-k:linkid:3.1:themeRemove" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
        <operation name="themeStatus">
            <soap:operation soapAction="urn:net:lin-k:linkid:3.1:themeStatus" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
        <operation name="themes">
            <soap:operation soapAction="urn:net:lin-k:linkid:3.1:themes" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
        <operation name="paymentConfigurationAdd">
            <soap:operation soapAction="urn:net:lin-k:linkid:3.1:paymentConfigurationAdd" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
        <operation name="paymentConfigurationUpdate">
            <soap:operation soapAction="urn:net:lin-k:linkid:3.1:paymentConfigurationUpdate" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
        <operation name="paymentConfigurationRemove">
            <soap:operation soapAction="urn:net:lin-k:linkid:3.1:paymentConfigurationRemove" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
		<operation name="paymentConfigurationList">
            <soap:operation soapAction="urn:net:lin-k:linkid:3.1:paymentConfigurationList" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
        <operation name="applicationPermissionAdd">
            <soap:operation soapAction="urn:net:lin-k:linkid:3.1:applicationPermissionAdd" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
        <operation name="applicationPermissionRemove">
            <soap:operation soapAction="urn:net:lin-k:linkid:3.1:applicationPermissionRemove" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
        <operation name="applicationPermissionList">
            <soap:operation soapAction="urn:net:lin-k:linkid:3.1:applicationPermissionList" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
        <operation name="commentGet">
            <soap:operation soapAction="urn:net:lin-k:linkid:3.1:commentGet" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
    </binding>

    <!-- ========================= Services ======================== -->

    <service name="LinkIDService">
        <port name="LinkIDServicePort" binding="tns:LinkIDServiceBinding">
            <soap:address location="http://localhost:8080/${safe-online.ws.webapp.url}/linkid31/" />
        </port>
    </service>
</definitions>
