linkid-ws/src/wsdl/linkid-3.1-vouchers.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:net:lin-k:linkid:3.1:core" xmlns:tns="urn:net:lin-k:linkid:3.1:core"
        elementFormDefault="qualified">

    <include schemaLocation="linkid-3.1-common.xsd" />

    <!-- **************************************************************************************************************************************************
         *                                                                  Vouchers                                                                      *
         **************************************************************************************************************************************************  -->

    <!-- Vouchers: reward -->

    <element name="VoucherRewardRequest">
        <complexType>
            <sequence>
                <element name="userId" type="string" minOccurs="1" maxOccurs="1">
                    <annotation>
                        <documentation>User ID to give voucher points to</documentation>
                    </annotation>
                </element>
                <element name="voucherOrganizationId" type="string" minOccurs="1" maxOccurs="1">
                    <annotation>
                        <documentation>The voucher organization ID</documentation>
                    </annotation>
                </element>
                <element name="points" type="long" minOccurs="1" maxOccurs="1">
                    <annotation>
                        <documentation>Amount of points to reward</documentation>
                    </annotation>
                </element>
            </sequence>
        </complexType>
    </element>

    <element name="VoucherRewardResponse">
        <complexType>
            <sequence>
                <element name="success" type="tns:VoucherRewardSuccess" minOccurs="0" maxOccurs="1" />
                <element name="error" type="tns:VoucherRewardError" minOccurs="0" maxOccurs="1" />
            </sequence>
        </complexType>
    </element>

    <complexType name="VoucherRewardSuccess">
    </complexType>

    <complexType name="VoucherRewardError">
		<attribute name="errorCode" type="tns:VoucherRewardErrorCode" use="required" />
    </complexType>

    <simpleType name="VoucherRewardErrorCode">
		<annotation>
			<documentation>Voucher Reward Error codes</documentation>
		</annotation>
		<restriction base="string">
			<enumeration value="error.unknown.user">
				<annotation>
					<documentation>No such user</documentation>
				</annotation>
			</enumeration>
			<enumeration value="error.inactive.voucher">
				<annotation>
					<documentation>Voucher is inactive</documentation>
				</annotation>
			</enumeration>
			<enumeration value="error.unknown.voucher.organization">
				<annotation>
					<documentation>No such voucher organization</documentation>
				</annotation>
			</enumeration>
			<enumeration value="error.permission.denied">
				<annotation>
					<documentation>Application not allowed to modify vouchers for this organization</documentation>
				</annotation>
			</enumeration>
			<enumeration value="error.unexpected">
				<annotation>
					<documentation>Something unexpected happened</documentation>
				</annotation>
			</enumeration>
			<enumeration value="error.maintenance">
				<annotation>
					<documentation>linkID is down for maintenance</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>

    <!-- Vouchers: list -->

    <element name="VoucherListRequest">
        <complexType>
            <sequence>
                <element name="userId" type="string" minOccurs="1" maxOccurs="1">
                    <annotation>
                        <documentation>User ID to give voucher points to</documentation>
                    </annotation>
                </element>
                <element name="voucherOrganizationId" type="string" minOccurs="0" maxOccurs="1">
                    <annotation>
                        <documentation>The voucher organization ID</documentation>
                    </annotation>
                </element>
                <element name="includeInactive" type="boolean" minOccurs="0" maxOccurs="1">
                    <annotation>
                        <documentation>Also return not yet active vouchers?</documentation>
                    </annotation>
                </element>
            </sequence>
            <attribute name="language" type="string" use="optional">
                <annotation>
                    <documentation>ISO 639 alpha-2 or alpha-3 language code. Optional, default is en</documentation>
                </annotation>
            </attribute>
        </complexType>
    </element>

    <element name="VoucherListResponse">
        <complexType>
            <sequence>
                <element name="success" type="tns:VoucherListSuccess" minOccurs="0" maxOccurs="1" />
                <element name="error" type="tns:VoucherListError" minOccurs="0" maxOccurs="1" />
            </sequence>
        </complexType>
    </element>

    <complexType name="VoucherListSuccess">
        <sequence>
            <element name="vouchers" type="tns:Voucher" minOccurs="0" maxOccurs="unbounded" />
        </sequence>
        <attribute name="total" type="long" use="required" />
    </complexType>

    <complexType name="VoucherListError">
		<attribute name="errorCode" type="tns:VoucherListErrorCode" use="required" />
    </complexType>

    <simpleType name="VoucherListErrorCode">
		<annotation>
			<documentation>Voucher List Error codes</documentation>
		</annotation>
		<restriction base="string">
			<enumeration value="error.unknown.user">
				<annotation>
					<documentation>No such user</documentation>
				</annotation>
			</enumeration>
			<enumeration value="error.unknown.voucher.organization">
				<annotation>
					<documentation>No such voucher organization</documentation>
				</annotation>
			</enumeration>
			<enumeration value="error.permission.denied">
				<annotation>
					<documentation>Application not allowed to list vouchers for this organization</documentation>
				</annotation>
			</enumeration>
			<enumeration value="error.unexpected">
				<annotation>
					<documentation>Something unexpected happened</documentation>
				</annotation>
			</enumeration>
			<enumeration value="error.maintenance">
				<annotation>
					<documentation>linkID is down for maintenance</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>

    <!-- Vouchers: list redeemed -->

    <element name="VoucherListRedeemedRequest">
        <complexType>
            <sequence>
                <element name="userId" type="string" minOccurs="1" maxOccurs="1">
                    <annotation>
                        <documentation>User ID to give voucher points to</documentation>
                    </annotation>
                </element>
                <element name="voucherOrganizationId" type="string" minOccurs="1" maxOccurs="1">
                    <annotation>
                        <documentation>The voucher organization ID</documentation>
                    </annotation>
                </element>
                <element name="dateFilter" type="tns:ReportDateFilter" minOccurs="0" maxOccurs="1">
                    <annotation>
                        <documentation>Optional date filter</documentation>
                    </annotation>
                </element>
                <element name="pageFilter" type="tns:ReportPageFilter" minOccurs="0" maxOccurs="1">
                    <annotation>
                        <documentation>Optional page filter</documentation>
                    </annotation>
                </element>
            </sequence>
            <attribute name="language" type="string" use="optional">
                <annotation>
                    <documentation>ISO 639 alpha-2 or alpha-3 language code. Optional, default is en</documentation>
                </annotation>
            </attribute>
        </complexType>
    </element>

    <element name="VoucherListRedeemedResponse">
        <complexType>
            <sequence>
                <element name="success" type="tns:VoucherListRedeemedSuccess" minOccurs="0" maxOccurs="1" />
                <element name="error" type="tns:VoucherListRedeemedError" minOccurs="0" maxOccurs="1" />
            </sequence>
        </complexType>
    </element>

    <complexType name="VoucherListRedeemedSuccess">
        <sequence>
            <element name="vouchers" type="tns:Voucher" minOccurs="0" maxOccurs="unbounded" />
        </sequence>
        <attribute name="total" type="long" use="required" />
    </complexType>

    <complexType name="VoucherListRedeemedError">
		<attribute name="errorCode" type="tns:VoucherListRedeemedErrorCode" use="required" />
    </complexType>

    <simpleType name="VoucherListRedeemedErrorCode">
		<annotation>
			<documentation>Voucher List Redeemed Error codes</documentation>
		</annotation>
		<restriction base="string">
			<enumeration value="error.unknown.user">
				<annotation>
					<documentation>No such user</documentation>
				</annotation>
			</enumeration>
			<enumeration value="error.unknown.voucher.organization">
				<annotation>
					<documentation>No such voucher organization</documentation>
				</annotation>
			</enumeration>
			<enumeration value="error.too.many.results">
				<annotation>
					<documentation>There are too many results to return, please narrow down your search</documentation>
				</annotation>
			</enumeration>
			<enumeration value="error.invalid.page">
				<annotation>
					<documentation>Invalid page filter config, e.g. firstResult > total</documentation>
				</annotation>
			</enumeration>
			<enumeration value="error.permission.denied">
				<annotation>
					<documentation>Application not allowed to list vouchers for this organization</documentation>
				</annotation>
			</enumeration>
			<enumeration value="error.unexpected">
				<annotation>
					<documentation>Something unexpected happened</documentation>
				</annotation>
			</enumeration>
			<enumeration value="error.maintenance">
				<annotation>
					<documentation>linkID is down for maintenance</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>

    <!-- Vouchers: voucher info -->

    <element name="VoucherInfoRequest">
        <complexType>
            <sequence>
                <element name="voucherId" type="string" minOccurs="1" maxOccurs="1">
                    <annotation>
                        <documentation>The ID of the voucher for which info is required</documentation>
                    </annotation>
                </element>
            </sequence>
            <attribute name="language" type="string" use="optional">
                <annotation>
                    <documentation>ISO 639 alpha-2 or alpha-3 language code. Optional, default is en</documentation>
                </annotation>
            </attribute>
        </complexType>
    </element>

    <element name="VoucherInfoResponse">
        <complexType>
            <sequence>
                <element name="success" type="tns:VoucherInfoSuccess" minOccurs="0" maxOccurs="1" />
                <element name="error" type="tns:VoucherInfoError" minOccurs="0" maxOccurs="1" />
            </sequence>
        </complexType>
    </element>

    <complexType name="VoucherInfoSuccess">
        <sequence>
            <element name="voucher" type="tns:Voucher" minOccurs="0" maxOccurs="1">
                <annotation>
                    The voucher info
                </annotation>
            </element>
        </sequence>
    </complexType>

    <complexType name="VoucherInfoError">
		<attribute name="errorCode" type="tns:VoucherInfoErrorCode" use="required" />
    </complexType>

    <simpleType name="VoucherInfoErrorCode">
		<annotation>
			<documentation>Voucher Info Error codes</documentation>
		</annotation>
		<restriction base="string">
			<enumeration value="error.unknown.voucher.id">
				<annotation>
					<documentation>No such voucher ID exists</documentation>
				</annotation>
			</enumeration>
			<enumeration value="error.permission.denied">
				<annotation>
					<documentation>Application not allowed to access voucher info for requested voucher</documentation>
				</annotation>
			</enumeration>
			<enumeration value="error.unexpected">
				<annotation>
					<documentation>Something unexpected happened</documentation>
				</annotation>
			</enumeration>
			<enumeration value="error.maintenance">
				<annotation>
					<documentation>linkID is down for maintenance</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>

    <!-- Vouchers: redeem -->

    <element name="VoucherRedeemRequest">
        <complexType>
            <sequence>
                <element name="voucherId" type="string" minOccurs="1" maxOccurs="1">
                    <annotation>
                        <documentation>The ID of the voucher to redeem</documentation>
                    </annotation>
                </element>
            </sequence>
        </complexType>
    </element>

    <element name="VoucherRedeemResponse">
        <complexType>
            <sequence>
                <element name="success" type="tns:VoucherRedeemSuccess" minOccurs="0" maxOccurs="1" />
                <element name="error" type="tns:VoucherRedeemError" minOccurs="0" maxOccurs="1" />
            </sequence>
        </complexType>
    </element>

    <complexType name="VoucherRedeemSuccess">
    </complexType>

    <complexType name="VoucherRedeemError">
		<attribute name="errorCode" type="tns:VoucherRedeemErrorCode" use="required" />
    </complexType>

    <simpleType name="VoucherRedeemErrorCode">
		<annotation>
			<documentation>Voucher Redeem Error codes</documentation>
		</annotation>
		<restriction base="string">
			<enumeration value="error.unknown.voucher">
				<annotation>
					<documentation>No such voucher with that ID</documentation>
				</annotation>
			</enumeration>
			<enumeration value="error.already.redeemed">
				<annotation>
					<documentation>Specified voucher was already redeemed</documentation>
				</annotation>
			</enumeration>
			<enumeration value="error.permission.denied">
				<annotation>
					<documentation>Application not allowed to redeem vouchers for this organization</documentation>
				</annotation>
			</enumeration>
			<enumeration value="error.unexpected">
				<annotation>
					<documentation>Something unexpected happened</documentation>
				</annotation>
			</enumeration>
			<enumeration value="error.maintenance">
				<annotation>
					<documentation>linkID is down for maintenance</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>


    <!-- Voucher organizations: add/update -->


    <element name="VoucherOrganizationAddUpdateRequest">
        <complexType>
            <sequence>
                <element name="organization" type="tns:VoucherOrganization" minOccurs="1" maxOccurs="1">
                    <annotation>
                        <documentation>The voucher organization configuration</documentation>
                    </annotation>
                </element>
            </sequence>
        </complexType>
    </element>

    <element name="VoucherOrganizationAddUpdateResponse">
        <complexType>
            <sequence>
                <element name="success" type="tns:VoucherOrganizationAddUpdateSuccess" minOccurs="0" maxOccurs="1" />
                <element name="error" type="tns:VoucherOrganizationAddUpdateError" minOccurs="0" maxOccurs="1" />
            </sequence>
        </complexType>
    </element>

    <complexType name="VoucherOrganizationAddUpdateSuccess">
        <sequence>
            <element name="name" type="string" minOccurs="1" maxOccurs="1">
                <annotation>
                    <documentation>The official technical name of the voucher organization, to be used in subsequent calls</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>

    <complexType name="VoucherOrganizationAddUpdateError">
        <sequence>
            <element name="errorMessage" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>Optional error message containing additional info</documentation>
                </annotation>
            </element>
        </sequence>
		<attribute name="errorCode" type="tns:VoucherOrganizationAddUpdateErrorCode" use="required" />
    </complexType>

    <simpleType name="VoucherOrganizationAddUpdateErrorCode">
		<annotation>
			<documentation>Voucher organization add Error codes</documentation>
		</annotation>
		<restriction base="string">
			<enumeration value="error.logo.format">
				<annotation>
					<documentation>The image format is not supported</documentation>
				</annotation>
			</enumeration>
			<enumeration value="error.logo.size">
				<annotation>
					<documentation>The image size is big.</documentation>
				</annotation>
			</enumeration>
			<enumeration value="error.logo.dimension">
				<annotation>
					<documentation>The image dimension is not ok.</documentation>
				</annotation>
			</enumeration>
			<enumeration value="error.permission.denied">
				<annotation>
					<documentation>Invalid name, e.g. already exists, ...</documentation>
				</annotation>
			</enumeration>
			<enumeration value="error.unexpected">
				<annotation>
					<documentation>Something unexpected happened</documentation>
				</annotation>
			</enumeration>
			<enumeration value="error.maintenance">
				<annotation>
					<documentation>linkID is down for maintenance</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>

    <!-- Voucher organizations: list -->

    <element name="VoucherOrganizationListRequest">
        <complexType>
            <sequence>
                <element name="organizationIds" type="string" minOccurs="0" maxOccurs="unbounded">
                    <annotation>
                        <documentation>Optional list of organization ID's to fetch</documentation>
                    </annotation>
                </element>
                <element name="includeStats" type="boolean" minOccurs="1" maxOccurs="1">
                    <annotation>
                        <documentation>Include organization statistics?</documentation>
                    </annotation>
                </element>
            </sequence>
        </complexType>
    </element>

    <element name="VoucherOrganizationListResponse">
        <complexType>
            <sequence>
                <element name="success" type="tns:VoucherOrganizationListSuccess" minOccurs="0" maxOccurs="1" />
                <element name="error" type="tns:VoucherOrganizationListError" minOccurs="0" maxOccurs="1" />
            </sequence>
        </complexType>
    </element>

    <complexType name="VoucherOrganizationListSuccess">
        <sequence>
            <element name="organizationDetails" type="tns:VoucherOrganizationDetails" minOccurs="0" maxOccurs="unbounded">
                <annotation>
                    <documentation>The voucher organization details the caller application owns</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>

    <complexType name="VoucherOrganizationListError">
        <sequence>
            <element name="errorMessage" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>Optional error message containing additional info</documentation>
                </annotation>
            </element>
        </sequence>
		<attribute name="errorCode" type="tns:VoucherOrganizationListErrorCode" use="required" />
    </complexType>

    <simpleType name="VoucherOrganizationListErrorCode">
		<annotation>
			<documentation>Voucher organization list error codes</documentation>
		</annotation>
		<restriction base="string">
			<enumeration value="error.permission.denied">
				<annotation>
					<documentation>Not owner, ...</documentation>
				</annotation>
			</enumeration>
			<enumeration value="error.unexpected">
				<annotation>
					<documentation>Something unexpected happened</documentation>
				</annotation>
			</enumeration>
			<enumeration value="error.maintenance">
				<annotation>
					<documentation>linkID is down for maintenance</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>

    <!-- Voucher organizations: remove -->

    <element name="VoucherOrganizationRemoveRequest">
        <complexType>
            <sequence>
                <element name="voucherOrganizationId" type="string" minOccurs="1" maxOccurs="1">
                    <annotation>
                        <documentation>The ID of the voucher organization</documentation>
                    </annotation>
                </element>
            </sequence>
        </complexType>
    </element>

    <element name="VoucherOrganizationRemoveResponse">
        <complexType>
            <sequence>
                <element name="success" type="tns:VoucherOrganizationRemoveSuccess" minOccurs="0" maxOccurs="1" />
                <element name="error" type="tns:VoucherOrganizationRemoveError" minOccurs="0" maxOccurs="1" />
            </sequence>
        </complexType>
    </element>

    <complexType name="VoucherOrganizationRemoveSuccess">
    </complexType>

    <complexType name="VoucherOrganizationRemoveError">
        <sequence>
            <element name="errorMessage" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>Optional error message containing additional info</documentation>
                </annotation>
            </element>
        </sequence>
		<attribute name="errorCode" type="tns:VoucherOrganizationRemoveErrorCode" use="required" />
    </complexType>

    <simpleType name="VoucherOrganizationRemoveErrorCode">
		<annotation>
			<documentation>Voucher organization list error codes</documentation>
		</annotation>
		<restriction base="string">
			<enumeration value="error.unknown.voucher.organization">
				<annotation>
					<documentation>No such voucher organization</documentation>
				</annotation>
			</enumeration>
			<enumeration value="error.permission.denied">
				<annotation>
					<documentation>Not owner, ...</documentation>
				</annotation>
			</enumeration>
			<enumeration value="error.unexpected">
				<annotation>
					<documentation>Something unexpected happened</documentation>
				</annotation>
			</enumeration>
			<enumeration value="error.maintenance">
				<annotation>
					<documentation>linkID is down for maintenance</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>

    <!-- Voucher organizations: activate -->

    <element name="VoucherOrganizationActivateRequest">
        <complexType>
            <sequence>
                <element name="voucherOrganizationId" type="string" minOccurs="1" maxOccurs="1">
                    <annotation>
                        <documentation>The ID of the voucher organization</documentation>
                    </annotation>
                </element>
                <element name="active" type="boolean" minOccurs="1" maxOccurs="1">
                    <annotation>
                        <documentation>Activate or deactive?</documentation>
                    </annotation>
                </element>
            </sequence>
        </complexType>
    </element>

    <element name="VoucherOrganizationActivateResponse">
        <complexType>
            <sequence>
                <element name="success" type="tns:VoucherOrganizationActivateSuccess" minOccurs="0" maxOccurs="1" />
                <element name="error" type="tns:VoucherOrganizationActivateError" minOccurs="0" maxOccurs="1" />
            </sequence>
        </complexType>
    </element>

    <complexType name="VoucherOrganizationActivateSuccess">
    </complexType>

    <complexType name="VoucherOrganizationActivateError">
        <sequence>
            <element name="errorMessage" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>Optional error message containing additional info</documentation>
                </annotation>
            </element>
        </sequence>
		<attribute name="errorCode" type="tns:VoucherOrganizationActivateErrorCode" use="required" />
    </complexType>

    <simpleType name="VoucherOrganizationActivateErrorCode">
		<annotation>
			<documentation>Voucher organization activate error codes</documentation>
		</annotation>
		<restriction base="string">
			<enumeration value="error.unknown.voucher.organization">
				<annotation>
					<documentation>No such voucher organization</documentation>
				</annotation>
			</enumeration>
			<enumeration value="error.permission.denied">
				<annotation>
					<documentation>Not owner, ...</documentation>
				</annotation>
			</enumeration>
			<enumeration value="error.unexpected">
				<annotation>
					<documentation>Something unexpected happened</documentation>
				</annotation>
			</enumeration>
			<enumeration value="error.maintenance">
				<annotation>
					<documentation>linkID is down for maintenance</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>

    <!-- Voucher organizations: history -->

    <element name="VoucherOrganizationHistoryRequest">
        <complexType>
            <sequence>
                <element name="voucherOrganizationIds" type="string" minOccurs="0" maxOccurs="unbounded">
                    <annotation>
                        <documentation>The IDs of the requested voucher organization</documentation>
                    </annotation>
                </element>
                <element name="eventTypeFilter" type="tns:VoucherEventTypeFilter" minOccurs="0" maxOccurs="1">
                    <annotation>
                        <documentation>Optional voucher event filter</documentation>
                    </annotation>
                </element>
                <element name="userFilter" type="tns:UserFilter" minOccurs="0" maxOccurs="1">
                    <annotation>
                        <documentation>Optional user filter</documentation>
                    </annotation>
                </element>
                <element name="applicationFilter" type="tns:ApplicationFilter" minOccurs="0" maxOccurs="1">
                    <annotation>
                        <documentation>Optional application filter</documentation>
                    </annotation>
                </element>
                <element name="dateFilter" type="tns:ReportDateFilter" minOccurs="0" maxOccurs="1">
                    <annotation>
                        <documentation>Optional date filter</documentation>
                    </annotation>
                </element>
                <element name="pageFilter" type="tns:ReportPageFilter" minOccurs="0" maxOccurs="1">
                    <annotation>
                        <documentation>Optional page filter</documentation>
                    </annotation>
                </element>
            </sequence>
            <attribute name="language" type="string" use="optional">
                <annotation>
                    <documentation>ISO 639 alpha-2 or alpha-3 language code. Optional, default is en</documentation>
                </annotation>
            </attribute>
        </complexType>
    </element>

    <complexType name="VoucherEventTypeFilter">
        <sequence>
            <element name="eventTypes" type="tns:VoucherHistoryEventType" minOccurs="1" maxOccurs="unbounded">
                <annotation>
                    <documentation>Voucher history event type(s) to filter on</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>

    <element name="VoucherOrganizationHistoryResponse">
        <complexType>
            <sequence>
                <element name="success" type="tns:VoucherOrganizationHistorySuccess" minOccurs="0" maxOccurs="1" />
                <element name="error" type="tns:VoucherOrganizationHistoryError" minOccurs="0" maxOccurs="1" />
            </sequence>
        </complexType>
    </element>

    <complexType name="VoucherOrganizationHistorySuccess">
        <sequence>
            <element name="events" type="tns:VoucherHistoryEvent" minOccurs="0" maxOccurs="unbounded" />
        </sequence>
        <attribute name="total" type="long" use="required" />
    </complexType>

    <complexType name="VoucherOrganizationHistoryError">
        <sequence>
            <element name="errorMessage" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>Optional error message containing additional info</documentation>
                </annotation>
            </element>
        </sequence>
		<attribute name="errorCode" type="tns:VoucherOrganizationHistoryErrorCode" use="required" />
    </complexType>

    <simpleType name="VoucherOrganizationHistoryErrorCode">
		<annotation>
			<documentation>Voucher organization activate error codes</documentation>
		</annotation>
		<restriction base="string">
			<enumeration value="error.unknown.voucher.organization">
				<annotation>
					<documentation>No such voucher organization</documentation>
				</annotation>
			</enumeration>
			<enumeration value="error.too.many.results">
				<annotation>
					<documentation>There are too many results to return, please narrow down your search</documentation>
				</annotation>
			</enumeration>
			<enumeration value="error.invalid.page">
				<annotation>
					<documentation>Invalid page filter config, e.g. firstResult > total</documentation>
				</annotation>
			</enumeration>
			<enumeration value="error.permission.denied">
				<annotation>
					<documentation>Not owner, ...</documentation>
				</annotation>
			</enumeration>
			<enumeration value="error.unexpected">
				<annotation>
					<documentation>Something unexpected happened</documentation>
				</annotation>
			</enumeration>
			<enumeration value="error.maintenance">
				<annotation>
					<documentation>linkID is down for maintenance</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>

    <!-- Voucher: common -->

    <complexType name="VoucherOrganizationDetails">
        <sequence>
            <element name="organization" type="tns:VoucherOrganization" minOccurs="1" maxOccurs="1">
                <annotation>
                    <documentation>Voucher organization configuration</documentation>
                </annotation>
            </element>
            <element name="stats" type="tns:VoucherOrganizationStats" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>Optional voucher organization stats, if requested</documentation>
                </annotation>
            </element>
            <element name="rewardPermissionApplications" type="string" minOccurs="0" maxOccurs="unbounded">
                <annotation>
                    <documentation>List of applications that have the REWARD permission</documentation>
                </annotation>
            </element>
            <element name="listPermissionApplications" type="string" minOccurs="0" maxOccurs="unbounded">
                <annotation>
                    <documentation>List of applications that have the LIST permission</documentation>
                </annotation>
            </element>
            <element name="redeemPermissionApplications" type="string" minOccurs="0" maxOccurs="unbounded">
                <annotation>
                    <documentation>List of applications that have the REDEEM permission</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>

    <complexType name="VoucherOrganization">
        <sequence>
            <element name="voucherOrganizationId" type="string" minOccurs="1" maxOccurs="1">
                <annotation>
                    <documentation>The ID of the voucher organization to add/update</documentation>
                </annotation>
            </element>
            <element name="logoUrl" type="string" minOccurs="1" maxOccurs="1">
                <annotation>
                    <documentation>The url of the voucher logo</documentation>
                </annotation>
            </element>
            <element name="voucherLimit" type="long" minOccurs="1" maxOccurs="1">
                <annotation>
                    <documentation>The size of the voucher</documentation>
                </annotation>
            </element>
            <element name="active" type="boolean" minOccurs="1" maxOccurs="1">
                <annotation>
                    <documentation>Is the voucher organization active?</documentation>
                </annotation>
            </element>
            <element name="nameLocalization" type="tns:Localization" minOccurs="1" maxOccurs="unbounded">
                <annotation>
                    <documentation>The voucher organization name localizations</documentation>
                </annotation>
            </element>
            <element name="descriptionLocalization" type="tns:Localization" minOccurs="1" maxOccurs="unbounded">
                <annotation>
                    <documentation>The voucher organization description localizations</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>

    <complexType name="VoucherOrganizationStats">
        <sequence>
            <element name="numberOfVouchers" type="long" minOccurs="1" maxOccurs="1">
                <annotation>
                    <documentation>Total number of vouchers, not yet active, active and redeemed ones</documentation>
                </annotation>
            </element>
            <element name="numberOfInactiveVouchers" type="long" minOccurs="1" maxOccurs="1">
                <annotation>
                    <documentation>Total number of inactive vouchers, i.e. voucher limit not yet reached</documentation>
                </annotation>
            </element>
            <element name="numberOfActiveVouchers" type="long" minOccurs="1" maxOccurs="1">
                <annotation>
                    <documentation>Total number of active vouchers, i.e. not yet redeemed</documentation>
                </annotation>
            </element>
            <element name="numberOfRedeemedVouchers" type="long" minOccurs="1" maxOccurs="1">
                <annotation>
                    <documentation>Total number of redeemed vouchers</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>

    <complexType name="Voucher">
        <sequence>
            <element name="id" type="string" minOccurs="1" maxOccurs="1">
                <annotation>
                    <documentation>The ID of the specific voucher</documentation>
                </annotation>
            </element>
            <element name="name" type="string" minOccurs="1" maxOccurs="1">
                <annotation>
                    <documentation>Localized name of the voucher organization</documentation>
                </annotation>
            </element>
            <element name="description" type="string" minOccurs="1" maxOccurs="1">
                <annotation>
                    <documentation>Localized description of the voucher organization</documentation>
                </annotation>
            </element>
            <element name="logoUrl" type="string" minOccurs="1" maxOccurs="1">
                <annotation>
                    <documentation>URL of the logo of the voucher organization</documentation>
                </annotation>
            </element>
            <element name="counter" type="long" minOccurs="1" maxOccurs="1">
                <annotation>
                    <documentation>Voucher counter</documentation>
                </annotation>
            </element>
            <element name="limit" type="long" minOccurs="1" maxOccurs="1">
                <annotation>
                    <documentation>Voucher limit</documentation>
                </annotation>
            </element>
            <element name="activated" type="dateTime" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>Time the voucher was activated ( i.e. # points on it > voucher.organization.limit )</documentation>
                </annotation>
            </element>
            <element name="redeemed" type="dateTime" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>Time the voucher was redeemed</documentation>
                </annotation>
            </element>
            <element name="voucherOrganizationId" type="string" minOccurs="1" maxOccurs="1">
                <annotation>
                    <documentation>The voucher's organization ID</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>

    <complexType name="VoucherHistoryEvent">
        <sequence>
            <element name="id" type="string" minOccurs="1" maxOccurs="1">
                <annotation>
                    <documentation>History event ID</documentation>
                </annotation>
            </element>
            <element name="date" minOccurs="1" maxOccurs="1" type="dateTime">
                <annotation>
                    <documentation>When did the event occur</documentation>
                </annotation>
            </element>
            <element name="voucherOrganizationId" type="string" minOccurs="1" maxOccurs="1">
                <annotation>
                    <documentation>The voucher's organization ID</documentation>
                </annotation>
            </element>
            <element name="userId" type="string" minOccurs="1" maxOccurs="1">
                <annotation>
                    <documentation>The user ID</documentation>
                </annotation>
            </element>
            <element name="voucherId" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>The ID of the specific voucher if applicable</documentation>
                </annotation>
            </element>
            <element name="points" type="long" minOccurs="1" maxOccurs="1">
                <annotation>
                    <documentation>Voucher points in event (if applicable)</documentation>
                </annotation>
            </element>
            <element name="applicationName" type="string" minOccurs="1" maxOccurs="1">
                <annotation>
                    <documentation>The id of the application responsible for this event</documentation>
                </annotation>
            </element>
            <element name="applicationNameFriendly" type="string" minOccurs="1" maxOccurs="1">
                <annotation>
                    <documentation>The friendly name of the application responsible for this event</documentation>
                </annotation>
            </element>
            <element name="eventType" type="tns:VoucherHistoryEventType" minOccurs="1" maxOccurs="1">
                <annotation>
                    <documentation>The event type</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>

    <simpleType name="VoucherHistoryEventType">
        <restriction base="string">
            <enumeration value="voucher.event.reward" />
            <enumeration value="voucher.event.activate" />
            <enumeration value="voucher.event.redeem" />
        </restriction>
    </simpleType>

</schema>