linkid-ws/src/wsdl/linkid-3.1-configuration.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:net:lin-k:linkid:3.1:core" xmlns:tns="urn:net:lin-k:linkid:3.1:core"
        elementFormDefault="qualified">

    <include schemaLocation="linkid-3.1-common.xsd" />

    <!-- **************************************************************************************************************************************************
         *                                                                  Configuration                                                                 *
         **************************************************************************************************************************************************  -->

    <!-- Configuration: Wallet applications request -->

    <element name="ConfigWalletApplicationsRequest">
        <complexType>
            <attribute name="walletOrganizationId" type="string" use="optional">
                <annotation>
                    <documentation>The linkID wallet organization ID</documentation>
                </annotation>
            </attribute>
            <attribute name="language" type="string" use="optional">
                <annotation>
                    <documentation>ISO 639 alpha-2 or alpha-3 language code. Optional, default is en</documentation>
                </annotation>
            </attribute>
        </complexType>
    </element>

	<element name="ConfigWalletApplicationsResponse">
        <complexType>
            <sequence>
                <element name="success" type="tns:ConfigWalletApplicationsSuccess" minOccurs="0" maxOccurs="1" />
                <element name="error" type="tns:ConfigWalletApplicationsError" minOccurs="0" maxOccurs="1" />
            </sequence>
        </complexType>
    </element>

    <complexType name="ConfigWalletApplicationsSuccess">
        <sequence>
            <element name="applications" type="tns:LinkIDApplication" minOccurs="0" maxOccurs="unbounded">
                <annotation>
                    <documentation>The applications allowed to use this wallet organization</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>

	<complexType name="ConfigWalletApplicationsError">
        <attribute name="errorCode" type="tns:ConfigWalletApplicationsErrorCode" use="required" />
    </complexType>

    <simpleType name="ConfigWalletApplicationsErrorCode">
		<annotation>
			<documentation>Error codes</documentation>
		</annotation>
		<restriction base="string">
			<enumeration value="error.unknown.wallet.organization">
				<annotation>
					<documentation>No such wallet organization</documentation>
				</annotation>
			</enumeration>
			<enumeration value="error.permission.denied">
				<annotation>
					<documentation>Not allowed to fetch this list</documentation>
				</annotation>
			</enumeration>
			<enumeration value="error.unexpected">
				<annotation>
					<documentation>Something unexpected happened</documentation>
				</annotation>
			</enumeration>
			<enumeration value="error.maintenance">
				<annotation>
					<documentation>linkID is down for maintenance</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>

    <!-- Configuration: Theme request -->

    <element name="ConfigThemesRequest">
		<complexType>
            <attribute name="applicationName" type="string" use="required" />
		</complexType>
	</element>

	<element name="ConfigThemesResponse">
        <complexType>
            <sequence>
                <element name="success" type="tns:ConfigThemesSuccess" minOccurs="0" maxOccurs="1" />
                <element name="error" type="tns:ConfigThemesError" minOccurs="0" maxOccurs="1" />
            </sequence>
        </complexType>
    </element>

    <complexType name="ConfigThemesSuccess">
        <sequence>
            <element name="themes" type="tns:ConfigThemes" minOccurs="0" maxOccurs="unbounded">
                <annotation>
                    <documentation>The theme(s)</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>

    <complexType name="ConfigThemes">
        <sequence>
            <element name="name" type="string" minOccurs="1" maxOccurs="1">
                <annotation>
                    <documentation>The theme name</documentation>
                </annotation>
            </element>
            <element name="defaultTheme" type="boolean" minOccurs="1" maxOccurs="1">
                <annotation>
                    <documentation>Default theme?</documentation>
                </annotation>
            </element>
            <element name="owner" type="boolean" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>Is the application fetching the theme the owner of it?</documentation>
                </annotation>
            </element>
            <element name="logo" type="tns:ConfigLocalizedImages" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>The application logo, shown in the manage linkID section</documentation>
                </annotation>
            </element>
            <element name="authLogo" type="tns:ConfigLocalizedImages" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>The application logo, shown during an authentication/payment</documentation>
                </annotation>
            </element>
            <element name="background" type="tns:ConfigLocalizedImages" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>The application background, shown in phone size devices</documentation>
                </annotation>
            </element>
            <element name="tabletBackground" type="tns:ConfigLocalizedImages" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>The application background, shown in tablet size devices</documentation>
                </annotation>
            </element>
            <element name="alternativeBackground" type="tns:ConfigLocalizedImages" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>The application background, shown in alternative size devices</documentation>
                </annotation>
            </element>
            <element name="backgroundColor" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>The application background color (#xxxxxx), shown if no background images are defined, or they are being loaded</documentation>
                </annotation>
            </element>
            <element name="textColor" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>The application text color (#xxxxxx), e.g. for the pinpad, ...</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>

    <complexType name="ConfigLocalizedImages">
        <sequence>
            <element name="images" type="tns:ConfigLocalizedImage" minOccurs="1" maxOccurs="unbounded">
                <annotation>
                    <documentation>The localized images</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>

    <complexType name="ConfigLocalizedImage">
        <sequence>
            <element name="url" type="string" minOccurs="1" maxOccurs="1">
                <annotation>
                    <documentation>The image url</documentation>
                </annotation>
            </element>
            <element name="language" type="string" minOccurs="1" maxOccurs="1">
                <annotation>
                    <documentation>Locale of the image</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>

	<complexType name="ConfigThemesError">
        <attribute name="errorCode" type="tns:ConfigThemesErrorCode" use="required" />
    </complexType>

    <simpleType name="ConfigThemesErrorCode">
		<annotation>
			<documentation>Error codes</documentation>
		</annotation>
		<restriction base="string">
			<enumeration value="error.unknown.application">
				<annotation>
					<documentation>No application with that name is connected to linkID</documentation>
				</annotation>
			</enumeration>
			<enumeration value="error.maintenance">
				<annotation>
					<documentation>linkID is down for maintenance</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>

    <!-- Configuration: Localization request -->

    <element name="ConfigLocalizationRequest">
		<complexType>
            <sequence>
                <element name="key" type="string" minOccurs="1" maxOccurs="unbounded">
                    <annotation>
                        <documentation>linkID key to get localization for, e.g. a wallet organization ID, wallet coin ID,...</documentation>
                    </annotation>
                </element>
            </sequence>
		</complexType>
	</element>

	<element name="ConfigLocalizationResponse">
        <complexType>
            <sequence>
                <element name="success" type="tns:ConfigLocalizationSuccess" minOccurs="0" maxOccurs="1" />
                <element name="error" type="tns:ConfigLocalizationError" minOccurs="0" maxOccurs="1" />
            </sequence>
        </complexType>
    </element>

    <complexType name="ConfigLocalizationSuccess">
        <sequence>
            <element name="localization" type="tns:ConfigLocalization" minOccurs="0" maxOccurs="unbounded">
                <annotation>
                    <documentation>The localization key(s)</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>

    <complexType name="ConfigLocalization">
        <sequence>
            <element name="key" type="string" minOccurs="1" maxOccurs="1">
                <annotation>
                    <documentation>The key</documentation>
                </annotation>
            </element>
            <element name="values" type="tns:ConfigLocalizationValue" minOccurs="1" maxOccurs="unbounded">
                <annotation>
                    <documentation>Localization values</documentation>
                </annotation>
            </element>
        </sequence>
        <attribute name="type" type="tns:ConfigLocalizationKeyType" use="required" />
    </complexType>

    <simpleType name="ConfigLocalizationKeyType">
		<annotation>
			<documentation>Localization key type</documentation>
		</annotation>
		<restriction base="string">
			<enumeration value="localization.key.friendly" />
            <enumeration value="localization.key.friendly.multiple" />
            <enumeration value="localization.key.description" />
		</restriction>
	</simpleType>

    <complexType name="ConfigLocalizationValue">
        <sequence>
            <element name="languageCode" type="string" minOccurs="1" maxOccurs="1">
                <annotation>
                    <documentation>ISO 639‑1 code of the language</documentation>
                </annotation>
            </element>
            <element name="localized" type="string" minOccurs="1" maxOccurs="1">
                <annotation>
                    <documentation>localized value</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>

	<complexType name="ConfigLocalizationError">
        <attribute name="errorCode" type="tns:ConfigLocalizationErrorCode" use="required" />
    </complexType>

    <simpleType name="ConfigLocalizationErrorCode">
		<annotation>
			<documentation>Error codes</documentation>
		</annotation>
		<restriction base="string">
			<enumeration value="error.unexpected">
				<annotation>
					<documentation>Something unexpected occurred</documentation>
				</annotation>
			</enumeration>
			<enumeration value="error.maintenance">
				<annotation>
					<documentation>linkID is down for maintenance</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>

    <!-- Configuration: Applications -->

    <element name="ConfigApplicationsRequest">
		<complexType>
            <sequence>
                <element name="names" type="string" minOccurs="1" maxOccurs="unbounded">
                    <annotation>
                        <documentation>Application technical name(s)</documentation>
                    </annotation>
                </element>
            </sequence>
            <attribute name="language" type="string" use="optional">
                <annotation>
                    <documentation>ISO 639 alpha-2 or alpha-3 language code. Optional, default is en</documentation>
                </annotation>
            </attribute>
		</complexType>
	</element>

	<element name="ConfigApplicationsResponse">
        <complexType>
            <sequence>
                <element name="success" type="tns:ConfigApplicationsSuccess" minOccurs="0" maxOccurs="1" />
                <element name="error" type="tns:ConfigApplicationsError" minOccurs="0" maxOccurs="1" />
            </sequence>
        </complexType>
    </element>

    <complexType name="ConfigApplicationsSuccess">
        <sequence>
            <element name="applications" type="tns:ApplicationDetails" minOccurs="0" maxOccurs="unbounded">
                <annotation>
                    <documentation>The application details</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>

    <complexType name="ApplicationDetails">
        <sequence>
            <element name="name" type="string" minOccurs="1" maxOccurs="1">
                <annotation>
                    <documentation>The application's technical name</documentation>
                </annotation>
            </element>
            <element name="friendlyName" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>The application's localized friendly name</documentation>
                </annotation>
            </element>
            <element name="description" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>The application's localized description</documentation>
                </annotation>
            </element>
            <element name="applicationURL" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>The application's URL</documentation>
                </annotation>
            </element>
            <element name="logo" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>The application's default theme's logo shown in manage linkID</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>

    <complexType name="ConfigApplicationsError">
        <sequence>
            <element name="errorMessage" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>Optional error message containing additional info</documentation>
                </annotation>
            </element>
        </sequence>
		<attribute name="errorCode" type="tns:ConfigApplicationsErrorCode" use="required" />
    </complexType>

    <simpleType name="ConfigApplicationsErrorCode">
		<annotation>
			<documentation>Config application error codes</documentation>
		</annotation>
		<restriction base="string">
			<enumeration value="error.unexpected">
				<annotation>
					<documentation>Something unexpected happened</documentation>
				</annotation>
			</enumeration>
			<enumeration value="error.maintenance">
				<annotation>
					<documentation>linkID is down for maintenance</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>

</schema>