linkid-ws/src/wsdl/linkid-3.1-authn.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:net:lin-k:linkid:3.1:core" xmlns:tns="urn:net:lin-k:linkid:3.1:core"
        elementFormDefault="qualified">

    <include schemaLocation="linkid-3.1-common.xsd" />

    <!-- **************************************************************************************************************************************************
         *                                                                  Authentication                                                                *
         **************************************************************************************************************************************************  -->

    <!-- Auth: Start request -->

    <element name="AuthStartRequest">
        <annotation>
            <documentation>Start a linkID authentication request</documentation>
        </annotation>
        <complexType>
            <sequence>
                <any namespace='##any' processContents='lax' minOccurs='1' maxOccurs='1'>
                    <annotation>
                        <documentation>The authentication request, e.g. a SAML2 request</documentation>
                    </annotation>
                </any>
            </sequence>
            <attribute name="language" type="string" use="optional">
                <annotation>
                    <documentation>ISO 639 alpha-2 or alpha-3 language code. Optional, default is en</documentation>
                </annotation>
            </attribute>
            <attribute name="userAgent" type="string" use="optional">
                <annotation>
                    <documentation>Optional user agent string, for adding e.g. callback params to the QR code URL, android chrome URL needs to be http://linkidmauthurl/MAUTH/2/zUC8oA/eA==, ...</documentation>
                </annotation>
            </attribute>
        </complexType>
    </element>

    <element name="AuthStartResponse">
        <complexType>
            <sequence>
                <element name="success" type="tns:AuthStartSuccess" minOccurs="0" maxOccurs="1" />
                <element name="error" type="tns:AuthStartError" minOccurs="0" maxOccurs="1" />
            </sequence>
        </complexType>
    </element>

    <complexType name="AuthStartSuccess">
        <sequence>
            <element name="sessionId" type="string" minOccurs="1" maxOccurs="1">
                <annotation>
                    <documentation>The authentication session ID, use this in the poll operation</documentation>
                </annotation>
            </element>
            <element name="qrCodeInfo" type="tns:QRCodeInfo" minOccurs="1" maxOccurs="1">
                <annotation>
                    <documentation>linkID QR Code Information</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>

    <complexType name="AuthStartError">
        <sequence>
            <element name="error" type="tns:AuthStartErrorCode" minOccurs="1" maxOccurs="1" />
            <element name="info" type="string" minOccurs="1" maxOccurs="1" />
        </sequence>
    </complexType>

    <simpleType name="AuthStartErrorCode">
		<annotation>
			<documentation>Error codes for a Start request</documentation>
		</annotation>
		<restriction base="string">
			<enumeration value="error.request.invalid">
				<annotation>
					<documentation>The authentication request was invalid</documentation>
				</annotation>
			</enumeration>
			<enumeration value="error.maintenance">
				<annotation>
					<documentation>linkID is down for maintenance</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>

    <!-- Auth: Poll request -->

    <element name="AuthPollRequest">
        <annotation>
            <documentation>Poll the linkID authentication</documentation>
        </annotation>
        <complexType>
            <sequence>
                <element name="sessionId" type="string" minOccurs="1" maxOccurs="1">
                    <annotation>
                        <documentation>The session ID of the linkID authentication</documentation>
                    </annotation>
                </element>
            </sequence>
            <attribute name="language" type="string" use="optional">
                <annotation>
                    <documentation>ISO 639 alpha-2 or alpha-3 language code. Optional, default is en</documentation>
                </annotation>
            </attribute>
        </complexType>
    </element>

    <element name="AuthPollResponse">
        <complexType>
            <sequence>
                <element name="success" type="tns:AuthPollSuccess" minOccurs="0" maxOccurs="1" />
                <element name="error" type="tns:AuthPollError" minOccurs="0" maxOccurs="1" />
            </sequence>
        </complexType>
    </element>

    <complexType name="AuthPollSuccess">
        <sequence>
            <element name="authenticationState" type="tns:AuthAuthenticationState" minOccurs="1" maxOccurs="1">
                <annotation>
                    <documentation>The authentication state</documentation>
                </annotation>
            </element>
            <element name="paymentState" type="tns:PaymentStatusType" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>Optional payment state</documentation>
                </annotation>
            </element>
            <element name="paymentMenuURL" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>Payment menu URL case user has authenticated for a payment and chosen add a new payment method ( linkid.state.authenticated.payment.add )</documentation>
                </annotation>
            </element>
            <element name="authenticationResponse" type="tns:AuthAuthenticationResponse" minOccurs="0" maxOccurs="1" />
        </sequence>
    </complexType>

    <complexType name="AuthAuthenticationResponse">
        <sequence>
            <any namespace='##any' processContents='lax' minOccurs='0' maxOccurs='1'>
                <annotation>
                    <documentation>The authentication response if completed, e.g. a SAML2 response</documentation>
                </annotation>
            </any>
        </sequence>
    </complexType>

    <simpleType name="AuthAuthenticationState">
		<annotation>
			<documentation>Authentication states</documentation>
		</annotation>
		<restriction base="string">
			<enumeration value="linkid.state.started">
				<annotation>
					<documentation>The linkID authentication has started but the client has not yet retrieved the session</documentation>
				</annotation>
			</enumeration>
			<enumeration value="linkid.state.retrieved">
				<annotation>
					<documentation>The linkID client has retrieved the authentication session</documentation>
				</annotation>
			</enumeration>
			<enumeration value="linkid.state.authenticated">
				<annotation>
					<documentation>Authentication was successful</documentation>
				</annotation>
			</enumeration>
			<enumeration value="linkid.state.expired">
				<annotation>
					<documentation>The authentication session has expired</documentation>
				</annotation>
			</enumeration>
			<enumeration value="linkid.state.failed">
				<annotation>
					<documentation>The linkID authentication has failed</documentation>
				</annotation>
			</enumeration>
			<enumeration value="linkid.state.payment.add">
				<annotation>
					<documentation>The linkID authentication was ok, user did not have payment tokens and started the add new payment method flow</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>

    <complexType name="AuthPollError">
        <sequence>
            <element name="error" type="tns:AuthPollErrorCode" minOccurs="1" maxOccurs="1" />
            <element name="info" type="string" minOccurs="1" maxOccurs="1" />
        </sequence>
    </complexType>

    <simpleType name="AuthPollErrorCode">
		<annotation>
			<documentation>Error codes for a Poll request</documentation>
		</annotation>
		<restriction base="string">
			<enumeration value="error.response.invalid.sessionId">
				<annotation>
					<documentation>No linkID authentication was found with this sessionId</documentation>
				</annotation>
			</enumeration>
			<enumeration value="error.maintenance">
				<annotation>
					<documentation>linkID is down for maintenance</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>

    <!-- Auth: Cancel request -->

    <element name="AuthCancelRequest">
        <annotation>
            <documentation>Cancel a linkID authentication request</documentation>
        </annotation>
        <complexType>
            <sequence>
                <element name="sessionId" type="string" minOccurs="1" maxOccurs="1" />
            </sequence>
        </complexType>
    </element>

    <element name="AuthCancelResponse">
        <complexType>
            <sequence>
                <element name="error" type="tns:AuthCancelError" minOccurs="0" maxOccurs="1" />
            </sequence>
        </complexType>
    </element>

    <complexType name="AuthCancelError">
        <sequence>
            <element name="error" type="tns:AuthCancelErrorCode" minOccurs="1" maxOccurs="1" />
            <element name="info" type="string" minOccurs="1" maxOccurs="1" />
        </sequence>
    </complexType>

    <simpleType name="AuthCancelErrorCode">
		<annotation>
			<documentation>Error codes for a Cancel request</documentation>
		</annotation>
		<restriction base="string">
			<enumeration value="error.invalid.sessionId">
				<annotation>
					<documentation>No linkID authentication session was found with this sessionId</documentation>
				</annotation>
			</enumeration>
            <enumeration value="error.permission.denied">
				<annotation>
					<documentation>Application is not allowed to cancel this linkID authentication session</documentation>
				</annotation>
            </enumeration>
			<enumeration value="error.unexpected">
				<annotation>
					<documentation>Something went wrong trying to cancel the linkID authentication session</documentation>
				</annotation>
			</enumeration>
			<enumeration value="error.maintenance">
				<annotation>
					<documentation>linkID is down for maintenance</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>

</schema>