linkid-ws/src/wsdl/linkid-3.1-wallets.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:net:lin-k:linkid:3.1:core" xmlns:tns="urn:net:lin-k:linkid:3.1:core"
        elementFormDefault="qualified">

    <include schemaLocation="linkid-3.1-common.xsd" />
	<include schemaLocation="linkid-3.1-application-permissions.xsd" />

    <!-- **************************************************************************************************************************************************
         *                                                                  Wallets                                                                       *
         **************************************************************************************************************************************************  -->

    <!-- Wallets: enroll -->

    <element name="WalletEnrollRequest">
		<complexType>
            <sequence>
                <element name="userId" type="string" minOccurs="1" maxOccurs="1">
                    <annotation>
                        <documentation>The linkID userId</documentation>
                    </annotation>
                </element>
                <element name="walletOrganizationId" type="string" minOccurs="1" maxOccurs="1">
                    <annotation>
                        <documentation>The linkID wallet organization ID</documentation>
                    </annotation>
                </element>
                <element name="amount" type="double" minOccurs="0" maxOccurs="1">
                    <annotation>
                        <documentation>The amount to be added to the wallet ( in cents )</documentation>
                    </annotation>
                </element>
				<element name="currency" type="tns:Currency" minOccurs="0" maxOccurs="1">
					<annotation>
						<documentation>Optional payment amount currency, if null have to specify wallet coin</documentation>
					</annotation>
				</element>
				<element name="walletCoin" type="string" minOccurs="0" maxOccurs="1">
					<annotation>
						<documentation>Optional payment amount wallet coin, if null have to specify currency</documentation>
					</annotation>
				</element>
                <element name="reportInfo" type="tns:WalletReportInfo" minOccurs="0" maxOccurs="1">
                    <annotation>
                        <documentation>optional info if credits were added or removed</documentation>
                    </annotation>
                </element>
            </sequence>
		</complexType>
	</element>

	<element name="WalletEnrollResponse">
        <complexType>
            <sequence>
                <element name="success" type="tns:WalletEnrollSuccess" minOccurs="0" maxOccurs="1" />
                <element name="error" type="tns:WalletEnrollError" minOccurs="0" maxOccurs="1" />
            </sequence>
        </complexType>
    </element>

	<complexType name="WalletEnrollSuccess">
        <sequence>
            <element name="walletId" type="string" minOccurs="1" maxOccurs="1">
                <annotation>
                    <documentation>The linkID wallet ID</documentation>
                </annotation>
            </element>
        </sequence>
	</complexType>

	<complexType name="WalletEnrollError">
		<attribute name="errorCode" type="tns:WalletEnrollErrorCode" use="required" />
	</complexType>

    <simpleType name="WalletEnrollErrorCode">
		<annotation>
			<documentation>Wallet Enroll Error codes</documentation>
		</annotation>
		<restriction base="string">
			<enumeration value="error.unknown.wallet">
				<annotation>
					<documentation>No such linkID wallet</documentation>
				</annotation>
			</enumeration>
			<enumeration value="error.wallet.invalid.currency">
				<annotation>
					<documentation>Invalid currency</documentation>
				</annotation>
			</enumeration>
			<enumeration value="error.unknown.wallet.coin">
				<annotation>
					<documentation>No such linkID wallet coin</documentation>
				</annotation>
			</enumeration>
			<enumeration value="error.unknown.user">
				<annotation>
					<documentation>No such linkID user</documentation>
				</annotation>
			</enumeration>
			<enumeration value="error.user.already.enrolled">
				<annotation>
					<documentation>User was already enrolled</documentation>
				</annotation>
			</enumeration>
			<enumeration value="error.permission.denied">
				<annotation>
					<documentation>Permission denied</documentation>
				</annotation>
			</enumeration>
			<enumeration value="error.unexpected">
				<annotation>
					<documentation>Something unexpected happened</documentation>
				</annotation>
			</enumeration>
			<enumeration value="error.maintenance">
				<annotation>
					<documentation>linkID is down for maintenance</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>

    <!-- Wallets: get info -->

    <element name="WalletGetInfoRequest">
		<complexType>
            <sequence>
                <element name="userId" type="string" minOccurs="1" maxOccurs="1">
                    <annotation>
                        <documentation>The linkID userId</documentation>
                    </annotation>
                </element>
                <element name="walletOrganizationId" type="string" minOccurs="1" maxOccurs="1">
                    <annotation>
                        <documentation>The linkID wallet organization ID</documentation>
                    </annotation>
                </element>
            </sequence>
		</complexType>
	</element>

	<element name="WalletGetInfoResponse">
        <complexType>
            <sequence>
                <element name="success" type="tns:WalletGetInfoSuccess" minOccurs="0" maxOccurs="1" />
                <element name="error" type="tns:WalletGetInfoError" minOccurs="0" maxOccurs="1" />
            </sequence>
        </complexType>
    </element>

	<complexType name="WalletGetInfoSuccess">
        <sequence>
            <element name="walletId" type="string" minOccurs="1" maxOccurs="1">
                <annotation>
                    <documentation>The linkID wallet ID</documentation>
                </annotation>
            </element>
        </sequence>
	</complexType>

	<complexType name="WalletGetInfoError">
		<attribute name="errorCode" type="tns:WalletGetInfoErrorCode" use="required" />
	</complexType>

    <simpleType name="WalletGetInfoErrorCode">
		<annotation>
			<documentation>Wallet Enroll Error codes</documentation>
		</annotation>
		<restriction base="string">
			<enumeration value="error.unknown.wallet">
				<annotation>
					<documentation>No such linkID wallet</documentation>
				</annotation>
			</enumeration>
			<enumeration value="error.unknown.user">
				<annotation>
					<documentation>No such linkID user</documentation>
				</annotation>
			</enumeration>
			<enumeration value="error.permission.denied">
				<annotation>
					<documentation>Permission denied</documentation>
				</annotation>
			</enumeration>
			<enumeration value="error.unexpected">
				<annotation>
					<documentation>Something unexpected happened</documentation>
				</annotation>
			</enumeration>
			<enumeration value="error.maintenance">
				<annotation>
					<documentation>linkID is down for maintenance</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>

    <!-- Wallets: add credit -->

    <element name="WalletAddCreditRequest">
		<complexType>
            <sequence>
                <element name="userId" type="string" minOccurs="1" maxOccurs="1">
                    <annotation>
                        <documentation>The linkID userId</documentation>
                    </annotation>
                </element>
                <element name="walletId" type="string" minOccurs="1" maxOccurs="1">
                    <annotation>
                        <documentation>The linkID wallet ID</documentation>
                    </annotation>
                </element>
                <element name="amount" type="double" minOccurs="0" maxOccurs="1">
                    <annotation>
                        <documentation>The amount to be added to the wallet ( in cents )</documentation>
                    </annotation>
                </element>
				<element name="currency" type="tns:Currency" minOccurs="0" maxOccurs="1">
					<annotation>
						<documentation>Optional payment amount currency, if null have to specify wallet coin</documentation>
					</annotation>
				</element>
				<element name="walletCoin" type="string" minOccurs="0" maxOccurs="1">
					<annotation>
						<documentation>Optional payment amount wallet coin, if null have to specify currency</documentation>
					</annotation>
				</element>
                <element name="reportInfo" type="tns:WalletReportInfo" minOccurs="0" maxOccurs="1">
                    <annotation>
                        <documentation>optional info if credits were added or removed</documentation>
                    </annotation>
                </element>
            </sequence>
		</complexType>
	</element>

	<element name="WalletAddCreditResponse">
        <complexType>
            <sequence>
                <element name="success" type="tns:WalletAddCreditSuccess" minOccurs="0" maxOccurs="1" />
                <element name="error" type="tns:WalletAddCreditError" minOccurs="0" maxOccurs="1" />
            </sequence>
        </complexType>
    </element>

	<complexType name="WalletAddCreditSuccess">
	</complexType>

	<complexType name="WalletAddCreditError">
		<attribute name="errorCode" type="tns:WalletAddCreditErrorCode" use="required" />
	</complexType>

    <simpleType name="WalletAddCreditErrorCode">
		<annotation>
			<documentation>Wallet AddCredit Error codes</documentation>
		</annotation>
		<restriction base="string">
			<enumeration value="error.unknown.wallet">
				<annotation>
					<documentation>No such linkID wallet</documentation>
				</annotation>
			</enumeration>
			<enumeration value="error.wallet.invalid.currency">
				<annotation>
					<documentation>Invalid currency</documentation>
				</annotation>
			</enumeration>
			<enumeration value="error.unknown.wallet.coin">
				<annotation>
					<documentation>No such linkID wallet coin</documentation>
				</annotation>
			</enumeration>
			<enumeration value="error.unknown.user">
				<annotation>
					<documentation>No such linkID user</documentation>
				</annotation>
			</enumeration>
			<enumeration value="error.permission.denied">
				<annotation>
					<documentation>Permission denied</documentation>
				</annotation>
			</enumeration>
			<enumeration value="error.unexpected">
				<annotation>
					<documentation>Something unexpected happened</documentation>
				</annotation>
			</enumeration>
			<enumeration value="error.maintenance">
				<annotation>
					<documentation>linkID is down for maintenance</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>

    <!-- Wallets: remove credit -->

    <element name="WalletRemoveCreditRequest">
		<complexType>
            <sequence>
                <element name="userId" type="string" minOccurs="1" maxOccurs="1">
                    <annotation>
                        <documentation>The linkID userId</documentation>
                    </annotation>
                </element>
                <element name="walletId" type="string" minOccurs="1" maxOccurs="1">
                    <annotation>
                        <documentation>The linkID wallet ID</documentation>
                    </annotation>
                </element>
                <element name="amount" type="double" minOccurs="0" maxOccurs="1">
                    <annotation>
                        <documentation>The amount to be removed to the wallet ( in cents ), if -1 or amount > wallet's credit the wallet's credit will be 0</documentation>
                    </annotation>
                </element>
				<element name="currency" type="tns:Currency" minOccurs="0" maxOccurs="1">
					<annotation>
						<documentation>Optional payment amount currency, if null have to specify wallet coin</documentation>
					</annotation>
				</element>
				<element name="walletCoin" type="string" minOccurs="0" maxOccurs="1">
					<annotation>
						<documentation>Optional payment amount wallet coin, if null have to specify currency</documentation>
					</annotation>
				</element>
                <element name="reportInfo" type="tns:WalletReportInfo" minOccurs="0" maxOccurs="1">
                    <annotation>
                        <documentation>optional info if credits were added or removed</documentation>
                    </annotation>
                </element>
            </sequence>
		</complexType>
	</element>

	<element name="WalletRemoveCreditResponse">
        <complexType>
            <sequence>
                <element name="success" type="tns:WalletRemoveCreditSuccess" minOccurs="0" maxOccurs="1" />
                <element name="error" type="tns:WalletRemoveCreditError" minOccurs="0" maxOccurs="1" />
            </sequence>
        </complexType>
    </element>

	<complexType name="WalletRemoveCreditSuccess">
	</complexType>

	<complexType name="WalletRemoveCreditError">
		<attribute name="errorCode" type="tns:WalletRemoveCreditErrorCode" use="required" />
	</complexType>

    <simpleType name="WalletRemoveCreditErrorCode">
		<annotation>
			<documentation>Wallet removeCredit Error codes</documentation>
		</annotation>
		<restriction base="string">
			<enumeration value="error.unknown.wallet">
				<annotation>
					<documentation>No such linkID wallet</documentation>
				</annotation>
			</enumeration>
			<enumeration value="error.wallet.invalid.currency">
				<annotation>
					<documentation>Invalid currency</documentation>
				</annotation>
			</enumeration>
			<enumeration value="error.unknown.wallet.coin">
				<annotation>
					<documentation>No such linkID wallet coin</documentation>
				</annotation>
			</enumeration>
			<enumeration value="error.unknown.user">
				<annotation>
					<documentation>No such linkID user</documentation>
				</annotation>
			</enumeration>
			<enumeration value="error.permission.denied">
				<annotation>
					<documentation>Permission denied</documentation>
				</annotation>
			</enumeration>
			<enumeration value="error.unexpected">
				<annotation>
					<documentation>Something unexpected happened</documentation>
				</annotation>
			</enumeration>
			<enumeration value="error.maintenance">
				<annotation>
					<documentation>linkID is down for maintenance</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>

    <!-- Wallets: remove -->

    <element name="WalletRemoveRequest">
		<complexType>
            <sequence>
                <element name="userId" type="string" minOccurs="1" maxOccurs="1">
                    <annotation>
                        <documentation>The linkID userId</documentation>
                    </annotation>
                </element>
                <element name="walletId" type="string" minOccurs="1" maxOccurs="1">
                    <annotation>
                        <documentation>The linkID wallet ID</documentation>
                    </annotation>
                </element>
            </sequence>
		</complexType>
	</element>

	<element name="WalletRemoveResponse">
        <complexType>
            <sequence>
                <element name="success" type="tns:WalletRemoveSuccess" minOccurs="0" maxOccurs="1" />
                <element name="error" type="tns:WalletRemoveError" minOccurs="0" maxOccurs="1" />
            </sequence>
        </complexType>
    </element>

	<complexType name="WalletRemoveSuccess">
	</complexType>

	<complexType name="WalletRemoveError">
		<attribute name="errorCode" type="tns:WalletRemoveErrorCode" use="required" />
	</complexType>

    <simpleType name="WalletRemoveErrorCode">
		<annotation>
			<documentation>Wallet remove Error codes</documentation>
		</annotation>
		<restriction base="string">
			<enumeration value="error.unknown.wallet">
				<annotation>
					<documentation>No such linkID wallet</documentation>
				</annotation>
			</enumeration>
			<enumeration value="error.unknown.user">
				<annotation>
					<documentation>No such linkID user</documentation>
				</annotation>
			</enumeration>
			<enumeration value="error.permission.denied">
				<annotation>
					<documentation>Permission denied</documentation>
				</annotation>
			</enumeration>
			<enumeration value="error.unexpected">
				<annotation>
					<documentation>Something unexpected happened</documentation>
				</annotation>
			</enumeration>
			<enumeration value="error.maintenance">
				<annotation>
					<documentation>linkID is down for maintenance</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>

    <!-- Wallets: commit -->

    <element name="WalletCommitRequest">
        <complexType>
            <sequence>
                <element name="userId" type="string" minOccurs="1" maxOccurs="1">
                    <annotation>
                        <documentation>The linkID userId</documentation>
                    </annotation>
                </element>
                <element name="walletId" type="string" minOccurs="1" maxOccurs="1">
                    <annotation>
                        <documentation>The linkID wallet ID</documentation>
                    </annotation>
                </element>
                <element name="walletTransactionId" type="string" minOccurs="1" maxOccurs="1">
                    <annotation>
                        <documentation>The linkID wallet transaction ID</documentation>
                    </annotation>
                </element>
            </sequence>
        </complexType>
    </element>

    <element name="WalletCommitResponse">
        <complexType>
            <sequence>
                <element name="success" type="tns:WalletCommitSuccess" minOccurs="0" maxOccurs="1" />
                <element name="error" type="tns:WalletCommitError" minOccurs="0" maxOccurs="1" />
            </sequence>
        </complexType>
    </element>

    <complexType name="WalletCommitSuccess">
    </complexType>

    <complexType name="WalletCommitError">
		<attribute name="errorCode" type="tns:WalletCommitErrorCode" use="required" />
    </complexType>

    <simpleType name="WalletCommitErrorCode">
		<annotation>
			<documentation>Wallet Commit Error codes</documentation>
		</annotation>
		<restriction base="string">
			<enumeration value="error.unknown.user">
				<annotation>
					<documentation>No such linkID user</documentation>
				</annotation>
			</enumeration>
			<enumeration value="error.unknown.wallet">
				<annotation>
					<documentation>No such linkID wallet</documentation>
				</annotation>
			</enumeration>
			<enumeration value="error.unknown.wallet.transaction">
				<annotation>
					<documentation>No such linkID wallet transaction</documentation>
				</annotation>
			</enumeration>
			<enumeration value="error.unexpected">
				<annotation>
					<documentation>Something unexpected happened</documentation>
				</annotation>
			</enumeration>
			<enumeration value="error.maintenance">
				<annotation>
					<documentation>linkID is down for maintenance</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>

    <!-- Wallets: release -->

    <element name="WalletReleaseRequest">
        <complexType>
            <sequence>
                <element name="userId" type="string" minOccurs="1" maxOccurs="1">
                    <annotation>
                        <documentation>The linkID userId</documentation>
                    </annotation>
                </element>
                <element name="walletId" type="string" minOccurs="1" maxOccurs="1">
                    <annotation>
                        <documentation>The linkID wallet ID</documentation>
                    </annotation>
                </element>
                <element name="walletTransactionId" type="string" minOccurs="1" maxOccurs="1">
                    <annotation>
                        <documentation>The linkID wallet transaction ID</documentation>
                    </annotation>
                </element>
            </sequence>
        </complexType>
    </element>

    <element name="WalletReleaseResponse">
        <complexType>
            <sequence>
                <element name="success" type="tns:WalletReleaseSuccess" minOccurs="0" maxOccurs="1" />
                <element name="error" type="tns:WalletReleaseError" minOccurs="0" maxOccurs="1" />
            </sequence>
        </complexType>
    </element>

    <complexType name="WalletReleaseSuccess">
    </complexType>

    <complexType name="WalletReleaseError">
		<attribute name="errorCode" type="tns:WalletReleaseErrorCode" use="required" />
    </complexType>

    <simpleType name="WalletReleaseErrorCode">
		<annotation>
			<documentation>Wallet Release Error codes</documentation>
		</annotation>
		<restriction base="string">
			<enumeration value="error.unknown.user">
				<annotation>
					<documentation>No such linkID user</documentation>
				</annotation>
			</enumeration>
			<enumeration value="error.unknown.wallet">
				<annotation>
					<documentation>No such linkID wallet</documentation>
				</annotation>
			</enumeration>
			<enumeration value="error.unknown.wallet.transaction">
				<annotation>
					<documentation>No such linkID wallet transaction</documentation>
				</annotation>
			</enumeration>
			<enumeration value="error.unexpected">
				<annotation>
					<documentation>Something unexpected happened</documentation>
				</annotation>
			</enumeration>
			<enumeration value="error.maintenance">
				<annotation>
					<documentation>linkID is down for maintenance</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>

    <!-- Wallet organizations: add -->

    <element name="WalletOrganizationAddRequest">
		<complexType>
			<sequence>
				<element name="organization" type="tns:WalletOrganization" minOccurs="1" maxOccurs="1">
					<annotation>
						<documentation>The wallet organization config</documentation>
					</annotation>
				</element>
			</sequence>
		</complexType>
	</element>

	<element name="WalletOrganizationAddResponse">
        <complexType>
            <sequence>
                <element name="success" type="tns:WalletOrganizationAddSuccess" minOccurs="0" maxOccurs="1" />
                <element name="error" type="tns:WalletOrganizationAddError" minOccurs="0" maxOccurs="1" />
            </sequence>
        </complexType>
    </element>

    <complexType name="WalletOrganizationAddSuccess">
        <sequence>
			<element name="name" type="string" minOccurs="1" maxOccurs="1">
                <annotation>
                    <documentation>The official technical name of the wallet organization</documentation>
                </annotation>
            </element>
			<element name="coinName" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>The official technical name of the wallet coin if applicable</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>

    <complexType name="WalletOrganizationAddError">
        <sequence>
            <element name="errorMessage" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>Optional error message containing additional info</documentation>
                </annotation>
            </element>
        </sequence>
		<attribute name="commonErrorCode" type="tns:CommonErrorCode" use="optional" />
		<attribute name="errorCode" type="tns:WalletOrganizationAddErrorCode" use="optional" />
    </complexType>

	<simpleType name="WalletOrganizationAddErrorCode">
		<annotation>
			<documentation>Wallet organization add error codes</documentation>
		</annotation>
		<restriction base="string">
			<enumeration value="error.logo.format">
				<annotation>
					<documentation>The image format is not supported</documentation>
				</annotation>
			</enumeration>
			<enumeration value="error.logo.size">
				<annotation>
					<documentation>The image size is big.</documentation>
				</annotation>
			</enumeration>
			<enumeration value="error.logo.dimension">
				<annotation>
					<documentation>The image dimension is not ok.</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>

    <!-- Wallet organizations: update -->

    <element name="WalletOrganizationUpdateRequest">
		<complexType>
			<sequence>
				<element name="organization" type="tns:WalletOrganization" minOccurs="1" maxOccurs="1">
					<annotation>
						<documentation>The wallet organization config</documentation>
					</annotation>
				</element>
			</sequence>
		</complexType>
	</element>

	<element name="WalletOrganizationUpdateResponse">
        <complexType>
            <sequence>
                <element name="success" type="tns:WalletOrganizationUpdateSuccess" minOccurs="0" maxOccurs="1" />
                <element name="error" type="tns:WalletOrganizationUpdateError" minOccurs="0" maxOccurs="1" />
            </sequence>
        </complexType>
    </element>

    <complexType name="WalletOrganizationUpdateSuccess">
        <sequence>
			<element name="name" type="string" minOccurs="1" maxOccurs="1">
                <annotation>
                    <documentation>The official technical name of the wallet organization</documentation>
                </annotation>
            </element>
			<element name="coinName" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>The official technical name of the wallet coin if applicable</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>

    <complexType name="WalletOrganizationUpdateError">
        <sequence>
            <element name="errorMessage" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>Optional error message containing additional info</documentation>
                </annotation>
            </element>
        </sequence>
		<attribute name="commonErrorCode" type="tns:CommonErrorCode" use="optional" />
		<attribute name="errorCode" type="tns:WalletOrganizationUpdateErrorCode" use="optional" />
    </complexType>

	<simpleType name="WalletOrganizationUpdateErrorCode">
		<annotation>
			<documentation>Wallet organization add error codes</documentation>
		</annotation>
		<restriction base="string">
			<enumeration value="error.unknown.wallet.organization">
				<annotation>
					<documentation>No such pending wallet organization</documentation>
				</annotation>
			</enumeration>
			<enumeration value="error.logo.format">
				<annotation>
					<documentation>The image format is not supported</documentation>
				</annotation>
			</enumeration>
			<enumeration value="error.logo.size">
				<annotation>
					<documentation>The image size is big.</documentation>
				</annotation>
			</enumeration>
			<enumeration value="error.logo.dimension">
				<annotation>
					<documentation>The image dimension is not ok.</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>


    <!-- Wallet organizations: list -->

    <element name="WalletOrganizationListRequest">
        <complexType>
            <sequence>
                <element name="organizationIds" type="string" minOccurs="0" maxOccurs="unbounded">
                    <annotation>
                        <documentation>Optional list of organization ID's to fetch</documentation>
                    </annotation>
                </element>
				<element name="statusCode" type="tns:RequestStatusCode" minOccurs="0" maxOccurs="1">
                    <annotation>
                        <documentation>Optional status code filter</documentation>
                    </annotation>
				</element>
                <element name="includeStats" type="boolean" minOccurs="1" maxOccurs="1">
                    <annotation>
                        <documentation>Include organization statistics?</documentation>
                    </annotation>
                </element>
            </sequence>
            <attribute name="language" type="string" use="optional">
                <annotation>
                    <documentation>ISO 639 alpha-2 or alpha-3 language code. Optional, default is en</documentation>
                </annotation>
            </attribute>
        </complexType>
    </element>

    <element name="WalletOrganizationListResponse">
        <complexType>
            <sequence>
                <element name="success" type="tns:WalletOrganizationListSuccess" minOccurs="0" maxOccurs="1" />
                <element name="error" type="tns:WalletOrganizationListError" minOccurs="0" maxOccurs="1" />
            </sequence>
        </complexType>
    </element>

    <complexType name="WalletOrganizationListSuccess">
        <sequence>
            <element name="organizationDetails" type="tns:WalletOrganizationDetails" minOccurs="0" maxOccurs="unbounded">
                <annotation>
                    <documentation>The wallet organization details the caller application owns</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>

    <complexType name="WalletOrganizationListError">
        <sequence>
            <element name="errorMessage" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>Optional error message containing additional info</documentation>
                </annotation>
            </element>
        </sequence>
		<attribute name="errorCode" type="tns:WalletOrganizationListErrorCode" use="required" />
    </complexType>

    <simpleType name="WalletOrganizationListErrorCode">
		<annotation>
			<documentation>Wallet organization list error codes</documentation>
		</annotation>
		<restriction base="string">
			<enumeration value="error.permission.denied">
				<annotation>
					<documentation>Not owner, ...</documentation>
				</annotation>
			</enumeration>
			<enumeration value="error.unexpected">
				<annotation>
					<documentation>Something unexpected happened</documentation>
				</annotation>
			</enumeration>
			<enumeration value="error.maintenance">
				<annotation>
					<documentation>linkID is down for maintenance</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>

    <!-- Wallet organizations: remove -->

    <element name="WalletOrganizationRemoveRequest">
        <complexType>
            <sequence>
                <element name="walletOrganizationId" type="string" minOccurs="1" maxOccurs="1">
                    <annotation>
                        <documentation>The ID of the wallet organization</documentation>
                    </annotation>
                </element>
                <element name="removeReleased" type="boolean" minOccurs="1" maxOccurs="1">
                    <annotation>
                        <documentation>Remove a released wallet organization or a pending?</documentation>
                    </annotation>
                </element>
            </sequence>
        </complexType>
    </element>

    <element name="WalletOrganizationRemoveResponse">
        <complexType>
            <sequence>
                <element name="success" type="tns:WalletOrganizationRemoveSuccess" minOccurs="0" maxOccurs="1" />
                <element name="error" type="tns:WalletOrganizationRemoveError" minOccurs="0" maxOccurs="1" />
            </sequence>
        </complexType>
    </element>

    <complexType name="WalletOrganizationRemoveSuccess">
    </complexType>

    <complexType name="WalletOrganizationRemoveError">
        <sequence>
            <element name="errorMessage" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>Optional error message containing additional info</documentation>
                </annotation>
            </element>
        </sequence>
		<attribute name="commonErrorCode" type="tns:CommonErrorCode" use="optional" />
		<attribute name="errorCode" type="tns:WalletOrganizationRemoveErrorCode" use="optional" />
    </complexType>

    <simpleType name="WalletOrganizationRemoveErrorCode">
		<annotation>
			<documentation>Wallet organization list error codes</documentation>
		</annotation>
		<restriction base="string">
			<enumeration value="error.unknown.wallet.organization">
				<annotation>
					<documentation>No such voucher organization</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>


    <!-- Wallet common -->

    <complexType name="WalletReportInfo">
        <sequence>
            <element name="reference" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>optional reference</documentation>
                </annotation>
            </element>
            <element name="description" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>optional description</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>

    <complexType name="WalletOrganizationDetails">
        <sequence>
            <element name="organization" type="tns:WalletOrganization" minOccurs="1" maxOccurs="1">
                <annotation>
                    <documentation>Wallet organization configuration</documentation>
                </annotation>
            </element>
			<element name="permissions" type="tns:ApplicationPermissionType" minOccurs="0" maxOccurs="unbounded">
				<annotation>
					<documentation>What permissions do you have?</documentation>
				</annotation>
			</element>
            <element name="stats" type="tns:WalletOrganizationStats" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>Optional wallet organization stats, if requested</documentation>
                </annotation>
            </element>
            <element name="permissionAddCreditApplications" type="string" minOccurs="0" maxOccurs="unbounded">
                <annotation>
                    <documentation>List of applications that have the ADD CREDIT permission</documentation>
                </annotation>
            </element>
            <element name="permissionRemoveCreditApplications" type="string" minOccurs="0" maxOccurs="unbounded">
                <annotation>
                    <documentation>List of applications that have the REMOVE CREDIT permission</documentation>
                </annotation>
            </element>
            <element name="permissionRemoveApplications" type="string" minOccurs="0" maxOccurs="unbounded">
                <annotation>
                    <documentation>List of applications that have the REMOVE permission</documentation>
                </annotation>
            </element>
            <element name="permissionEnrollApplications" type="string" minOccurs="0" maxOccurs="unbounded">
                <annotation>
                    <documentation>List of applications that have the ENROLL permission</documentation>
                </annotation>
            </element>
            <element name="permissionUseApplications" type="string" minOccurs="0" maxOccurs="unbounded">
                <annotation>
                    <documentation>List of applications that have the USE permission</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>

    <complexType name="WalletOrganization">
        <sequence>
            <element name="walletOrganizationId" type="string" minOccurs="1" maxOccurs="1">
                <annotation>
                    <documentation>The ID of the wallet organization</documentation>
                </annotation>
            </element>
            <element name="logoUrl" type="string" minOccurs="1" maxOccurs="1">
                <annotation>
                    <documentation>The url of the wallet logo</documentation>
                </annotation>
            </element>
            <element name="expirationInSecs" type="long" minOccurs="1" maxOccurs="1">
                <annotation>
                    <documentation>Expiration of reserved wallet transactions in secs</documentation>
                </annotation>
            </element>
            <element name="sticky" type="boolean" minOccurs="1" maxOccurs="1">
                <annotation>
                    <documentation>Sticky as in even if balance is 0, it will be shown during payments</documentation>
                </annotation>
            </element>
            <element name="autoEnroll" type="boolean" minOccurs="1" maxOccurs="1">
                <annotation>
                    <documentation>Auto enroll users in wallet if trying to pay for an application allowed to use it</documentation>
                </annotation>
            </element>
            <element name="removeWalletOnUnsubscribe" type="boolean" minOccurs="1" maxOccurs="1">
                <annotation>
                    <documentation>If user unsubscribes from application that owns this wallet organization, remove the wallet with it?</documentation>
                </annotation>
            </element>
            <element name="nameLocalization" type="tns:Localization" minOccurs="1" maxOccurs="unbounded">
                <annotation>
                    <documentation>The wallet organization name localizations</documentation>
                </annotation>
            </element>
            <element name="descriptionLocalization" type="tns:Localization" minOccurs="1" maxOccurs="unbounded">
                <annotation>
                    <documentation>The wallet organization description localizations</documentation>
                </annotation>
            </element>
            <element name="coinNameLocalization" type="tns:Localization" minOccurs="0" maxOccurs="unbounded">
                <annotation>
                    <documentation>The wallet organization coin name localizations</documentation>
                </annotation>
            </element>
            <element name="coinNameMultipleLocalization" type="tns:Localization" minOccurs="0" maxOccurs="unbounded">
                <annotation>
                    <documentation>The wallet organization coin name localizations</documentation>
                </annotation>
            </element>
			<element name="statusCode" type="tns:RequestStatusCode" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>The status code of this wallet organization</documentation>
				</annotation>
			</element>
			<element name="currency" type="tns:Currency" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>Currency of the wallet if applicable</documentation>
				</annotation>
			</element>
			<element name="coinId" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>Wallet coin ID of the wallet if applicable</documentation>
				</annotation>
			</element>
			<element name="policyBalance" type="tns:WalletPolicyBalance" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>Balance policy configuration if applicable</documentation>
				</annotation>
			</element>
        </sequence>
    </complexType>

	<complexType name="WalletPolicyBalance">
		<sequence>
			<element name="balance" type="double" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>Optional initial balance given to users when the wallet is created</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>

    <complexType name="WalletOrganizationStats">
        <sequence>
            <element name="numberOfWallets" type="long" minOccurs="1" maxOccurs="1">
                <annotation>
                    <documentation>Total number of wallets</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>

</schema>