linkid-ws/src/wsdl/safe-online-haws-2.0.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="urn:net:lin-k:safe-online:haws:2.0"
             xmlns:tns="urn:net:lin-k:safe-online:haws:2.0" name="SafeOnlineHAWSWebService">
    <types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema">
            <import namespace="urn:net:lin-k:safe-online:haws:2.0" schemaLocation="safe-online-haws-2.0.xsd" />
        </schema>
    </types>

    <!-- =================== Push request ========================= -->

    <message name="pushRequest">
		<part name="request" element="tns:PushRequest" />
	</message>
	<message name="pushResponse">
		<part name="response" element="tns:PushResponse" />
	</message>

    <!-- =================== Pull request ========================= -->

    <message name="pullRequest">
		<part name="request" element="tns:PullRequest" />
	</message>
	<message name="pullResponse">
		<part name="response" element="tns:PullResponse" />
	</message>

    <!-- =========================== Ports ========================== -->

    <portType name="HawsServicePort">
		<operation name="push">
			<input message="tns:pushRequest" />
			<output message="tns:pushResponse" />
		</operation>
		<operation name="pull">
			<input message="tns:pullRequest" />
			<output message="tns:pullResponse" />
		</operation>
    </portType>

    <!-- ========================= Bindings ======================== -->

    <binding name="HawsServiceBinding" type="tns:HawsServicePort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
        <operation name="push">
            <soap:operation soapAction="urn:net:lin-k:safe-online:haws:2.0:push" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
        <operation name="pull">
            <soap:operation soapAction="urn:net:lin-k:safe-online:haws:2.0:pull" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
    </binding>

    <!-- ========================= Services ======================== -->

    <service name="HawsService">
        <port name="HawsServicePort" binding="tns:HawsServiceBinding">
            <soap:address location="http://localhost:8080/${safe-online.ws.webapp.url}/haws20/" />
        </port>
    </service>
</definitions>
