linkid-ws/src/wsdl/safe-online-ltqr-5.0.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="urn:net:lin-k:safe-online:ltqr:5.0"
             xmlns:tns="urn:net:lin-k:safe-online:ltqr:5.0" name="SafeOnlineLTQRWebService">
    <types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema">
            <import namespace="urn:net:lin-k:safe-online:ltqr:5.0" schemaLocation="safe-online-ltqr-5.0.xsd" />
        </schema>
    </types>

    <!-- =================== Push request ========================= -->

    <message name="pushRequest">
		<part name="request" element="tns:PushRequest" />
	</message>
	<message name="pushResponse">
		<part name="response" element="tns:PushResponse" />
	</message>

    <!-- =================== Change request ======================= -->

    <message name="changeRequest">
		<part name="request" element="tns:ChangeRequest" />
	</message>
	<message name="changeResponse">
		<part name="response" element="tns:ChangeResponse" />
	</message>

    <!-- =================== Pull request ========================= -->

    <message name="pullRequest">
		<part name="request" element="tns:PullRequest" />
	</message>
	<message name="pullResponse">
		<part name="response" element="tns:PullResponse" />
	</message>

    <!-- =================== Remove request ========================= -->

    <message name="removeRequest">
		<part name="request" element="tns:RemoveRequest" />
	</message>
	<message name="removeResponse">
		<part name="response" element="tns:RemoveResponse" />
	</message>

    <!-- =================== Info request ========================= -->

    <message name="infoRequest">
		<part name="request" element="tns:InfoRequest" />
	</message>
	<message name="infoResponse">
		<part name="response" element="tns:InfoResponse" />
	</message>

    <!-- =========================== Ports ========================== -->

    <portType name="LTQRServicePort">
		<operation name="push">
			<input message="tns:pushRequest" />
			<output message="tns:pushResponse" />
		</operation>
		<operation name="change">
			<input message="tns:changeRequest" />
			<output message="tns:changeResponse" />
		</operation>
		<operation name="pull">
			<input message="tns:pullRequest" />
			<output message="tns:pullResponse" />
		</operation>
		<operation name="remove">
			<input message="tns:removeRequest" />
			<output message="tns:removeResponse" />
		</operation>
		<operation name="info">
			<input message="tns:infoRequest" />
			<output message="tns:infoResponse" />
		</operation>
    </portType>

    <!-- ========================= Bindings ======================== -->

    <binding name="LTQRServiceBinding" type="tns:LTQRServicePort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
        <operation name="push">
            <soap:operation soapAction="urn:net:lin-k:safe-online:ltqr:5.0:push" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
        <operation name="change">
            <soap:operation soapAction="urn:net:lin-k:safe-online:ltqr:5.0:change" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
        <operation name="pull">
            <soap:operation soapAction="urn:net:lin-k:safe-online:ltqr:5.0:pull" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
        <operation name="remove">
            <soap:operation soapAction="urn:net:lin-k:safe-online:ltqr:5.0:remove" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
        <operation name="info">
            <soap:operation soapAction="urn:net:lin-k:safe-online:ltqr:5.0:info" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
    </binding>

    <!-- ========================= Services ======================== -->

    <service name="LTQRService">
        <port name="LTQRServicePort" binding="tns:LTQRServiceBinding">
            <soap:address location="http://localhost:8080/${safe-online.ws.webapp.url}/ltqr50/" />
        </port>
    </service>
</definitions>
