linkid-ws/src/wsdl/safe-online-reporting-4.0.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             targetNamespace="urn:net:lin-k:safe-online:reporting:4.0" xmlns:tns="urn:net:lin-k:safe-online:reporting:4.0"
             name="SafeOnlineReportingtWebService">
    <types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema">
            <import namespace="urn:net:lin-k:safe-online:reporting:4.0" schemaLocation="safe-online-reporting-4.0.xsd" />
        </schema>
    </types>

    <!-- ====================== Requests ============================ -->

    <message name="paymentReportRequest">
		<part name="request" element="tns:PaymentReportRequest" />
	</message>
	<message name="parkingReportRequest">
		<part name="request" element="tns:ParkingReportRequest" />
	</message>
	<message name="walletReportRequest">
		<part name="request" element="tns:WalletReportRequest" />
	</message>

    <!-- ====================== Responses =========================== -->

    <message name="paymentReportResponse">
		<part name="response" element="tns:PaymentReportResponse" />
	</message>
    <message name="parkingReportResponse">
		<part name="response" element="tns:ParkingReportResponse" />
	</message>
    <message name="walletReportResponse">
		<part name="response" element="tns:WalletReportResponse" />
	</message>

    <!-- =========================== Ports ========================== -->

    <portType name="ReportingServicePort">
		<operation name="paymentReport">
			<input message="tns:paymentReportRequest" />
			<output message="tns:paymentReportResponse" />
		</operation>
		<operation name="parkingReport">
			<input message="tns:parkingReportRequest" />
			<output message="tns:parkingReportResponse" />
		</operation>
		<operation name="walletReport">
			<input message="tns:walletReportRequest" />
			<output message="tns:walletReportResponse" />
		</operation>
    </portType>

    <!-- ========================= Bindings ======================== -->

    <binding name="ReportingServiceBinding" type="tns:ReportingServicePort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
        <operation name="paymentReport">
            <soap:operation soapAction="urn:net:lin-k:safe-online:reporting:4.0:payment" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
        <operation name="parkingReport">
            <soap:operation soapAction="urn:net:lin-k:safe-online:reporting:4.0:parking" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
        <operation name="walletReport">
            <soap:operation soapAction="urn:net:lin-k:safe-online:reporting:4.0:wallet" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
    </binding>

    <!-- ========================= Services ======================== -->

    <service name="ReportingService">
        <port name="ReportingServicePort" binding="tns:ReportingServiceBinding">
            <soap:address location="http://localhost:8080/${safe-online.ws.webapp.url}/reporting40/" />
        </port>
    </service>
</definitions>
