siemens-auth-ws-acceptance-jaxws-ws/src/main/resources/siemens-auth-ws.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="urn:net:lin-k:siemens:jaxws"
	xmlns:tns="urn:net:lin-k:siemens:jaxws" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
	xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy"
	xmlns:wspp="http://java.sun.com/xml/ns/wsit/policy"
	xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
	name="SiemensWSAuthenticationService">

	<types>
		<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema"
			targetNamespace="urn:net:lin-k:siemens:jaxws">
			<element name="Request">
				<complexType />
			</element>
			<element name="Response">
				<complexType>
					<sequence>
						<element name="Attribute" type="string" minOccurs="0"
							maxOccurs="1" />
					</sequence>
				</complexType>
			</element>
		</schema>
	</types>

	<message name="RequestMessage">
		<part name="request" element="tns:Request" />
	</message>
	<message name="ResponseMessage">
		<part name="result" element="tns:Response" />
	</message>

	<portType name="SiemensAuthWsAcceptancePort">
		<operation name="getAttribute">
			<input message="tns:RequestMessage" />
			<output message="tns:ResponseMessage" />
		</operation>
	</portType>

	<binding name="SiemensAuthWsAcceptanceBinding" type="tns:SiemensAuthWsAcceptancePort">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<operation name="getAttribute">
			<soap:operation soapAction="getAttribute" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
	</binding>

	<service name="SiemensAuthWsAcceptanceService">
		<port name="SiemensAuthWsAcceptancePort" binding="tns:SiemensAuthWsAcceptanceBinding">
			<soap:address location="http://localhost:8080/siemens-ws/auth/" />
		</port>
	</service>
</definitions>
