safe-online-encap-ws/src/main/resources/safe-online-encap-authentication.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
	targetNamespace="urn:net:link:safe-online:encap:authentication:1.0"
	xmlns:apachesoap="http://xml.apache.org/xml-soap"
	xmlns:impl="urn:net:link:safe-online:encap:authentication:1.0"
	xmlns:intf="urn:net:link:safe-online:encap:authentication:1.0"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
	xmlns:tns1="urn:net:link:safe-online:encap:authentication:1.0:types"
	xmlns:tns2="urn:net:link:safe-online:encap:1.0:types"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<!--WSDL created by Apache Axis version: 1.4
		Built on Apr 22, 2006 (06:55:48 PDT)-->
	<wsdl:types>
		<schema
			targetNamespace="urn:net:link:safe-online:encap:authentication:1.0:types"
			xmlns="http://www.w3.org/2001/XMLSchema">
			<import
				namespace="urn:net:link:safe-online:encap:1.0:types" />
			<import
				namespace="http://schemas.xmlsoap.org/soap/encoding/" />
			<complexType name="ChallengeResponse">
				<sequence>
					<element name="additionalInfo" nillable="true"
						type="xsd:string" />
					<element name="challengeId" nillable="true"
						type="xsd:string" />
					<element name="status" type="xsd:int" />
				</sequence>
			</complexType>
			<complexType name="VerifyResponse">
				<sequence>
					<element name="additionalInfo" nillable="true"
						type="xsd:string" />
					<element name="status" type="xsd:int" />
				</sequence>
			</complexType>
		</schema>
		<schema
			targetNamespace="urn:net:link:safe-online:encap:1.0:types"
			xmlns="http://www.w3.org/2001/XMLSchema">
			<import
				namespace="urn:net:link:safe-online:encap:authentication:1.0:types" />
			<import
				namespace="http://schemas.xmlsoap.org/soap/encoding/" />
			<complexType name="MSecResponse">
				<sequence>
					<element name="additionalInfo" nillable="true"
						type="xsd:string" />
					<element name="appId" nillable="true"
						type="xsd:string" />
					<element name="clientId" nillable="true"
						type="xsd:string" />
					<element name="secureObject" nillable="true"
						type="xsd:string" />
					<element name="serviceProviderId" nillable="true"
						type="xsd:string" />
					<element name="sessionId" nillable="true"
						type="xsd:string" />
					<element name="sessionInfo" nillable="true"
						type="xsd:anyType" />
					<element name="status" type="xsd:int" />
				</sequence>
			</complexType>
		</schema>
	</wsdl:types>

	<wsdl:message name="verifyOTPResponse">
		<wsdl:part name="verifyOTPReturn" type="tns1:VerifyResponse" />
	</wsdl:message>

	<wsdl:message name="verifyOTPRequest">
		<wsdl:part name="challengeId" type="xsd:string" />
		<wsdl:part name="otpValue" type="xsd:string" />
	</wsdl:message>

	<wsdl:message name="challengeRequest">
		<wsdl:part name="msisdn" type="xsd:string" />
		<wsdl:part name="orgId" type="xsd:string" />
	</wsdl:message>

	<wsdl:message name="cancelSessionRequest">
		<wsdl:part name="sessionId" type="xsd:string" />
	</wsdl:message>

	<wsdl:message name="cancelSessionResponse">
		<wsdl:part name="cancelSessionReturn" type="tns2:MSecResponse" />
	</wsdl:message>

	<wsdl:message name="challengeResponse">
		<wsdl:part name="challengeReturn" type="tns1:ChallengeResponse" />
	</wsdl:message>

	<wsdl:portType name="BankIdAuthentication">
		<wsdl:operation name="challenge"
			parameterOrder="msisdn orgId">
			<wsdl:input message="impl:challengeRequest"
				name="challengeRequest" />
			<wsdl:output message="impl:challengeResponse"
				name="challengeResponse" />
		</wsdl:operation>

		<wsdl:operation name="verifyOTP"
			parameterOrder="challengeId otpValue">
			<wsdl:input message="impl:verifyOTPRequest"
				name="verifyOTPRequest" />
			<wsdl:output message="impl:verifyOTPResponse"
				name="verifyOTPResponse" />
		</wsdl:operation>

		<wsdl:operation name="cancelSession"
			parameterOrder="sessionId">
			<wsdl:input message="impl:cancelSessionRequest"
				name="cancelSessionRequest" />
			<wsdl:output message="impl:cancelSessionResponse"
				name="cancelSessionResponse" />
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="mSecBankIdSoapBinding"
		type="impl:BankIdAuthentication">
		<wsdlsoap:binding style="rpc"
			transport="http://schemas.xmlsoap.org/soap/http" />

		<wsdl:operation name="challenge">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="challengeRequest">
				<wsdlsoap:body
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="urn:net:link:safe-online:encap:authentication:1.0"
					use="encoded" />
			</wsdl:input>
			<wsdl:output name="challengeResponse">
				<wsdlsoap:body
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="urn:net:link:safe-online:encap:authentication:1.0"
					use="encoded" />
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="verifyOTP">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="verifyOTPRequest">
				<wsdlsoap:body
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="urn:net:link:safe-online:encap:authentication:1.0"
					use="encoded" />
			</wsdl:input>
			<wsdl:output name="verifyOTPResponse">
				<wsdlsoap:body
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="urn:net:link:safe-online:encap:authentication:1.0"
					use="encoded" />
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="cancelSession">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="cancelSessionRequest">
				<wsdlsoap:body
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="urn:net:link:safe-online:encap:authentication:1.0"
					use="encoded" />
			</wsdl:input>
			<wsdl:output name="cancelSessionResponse">
				<wsdlsoap:body
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="urn:net:link:safe-online:encap:authentication:1.0"
					use="encoded" />
			</wsdl:output>
		</wsdl:operation>

	</wsdl:binding>

	<wsdl:service name="BankIdAuthenticationService">
		<wsdl:port binding="impl:mSecBankIdSoapBinding"
			name="mSecBankId">
			<wsdlsoap:address
				location="http://localhost:8080/safe-online-encap-ws/services/mSecBankId" />
		</wsdl:port>
	</wsdl:service>

</wsdl:definitions>
