safe-online-notification-consumer-ws/src/main/resources/notification-consumer.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions
	targetNamespace="urn:net:lin-k:safe-online:notification:consumer"
	xmlns="http://schemas.xmlsoap.org/wsdl/"
	xmlns:tns="urn:net:lin-k:safe-online:notification:consumer"
	xmlns:wsnt="http://docs.oasis-open.org/wsn/b-2"
	xmlns:wsa="http://www.w3.org/2005/08/addressing"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	name="SafeOnlineNotificationConsumerWebService">

	<types>
		<schema xmlns="http://www.w3.org/2001/XMLSchema"
			xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
			targetNamespace="urn:net:lin-k:safe-online:notification:consumer">
			<import namespace="http://docs.oasis-open.org/wsn/b-2"
				schemaLocation="b-2.xsd" />

			<xsd:complexType name="NotificationMessageHolderType">
				<xsd:sequence>
					<xsd:element ref="wsnt:SubscriptionReference"
						minOccurs="0" maxOccurs="1" />
					<xsd:element ref="wsnt:Topic" minOccurs="0"
						maxOccurs="1" />
					<xsd:element ref="wsnt:ProducerReference"
						minOccurs="0" maxOccurs="1" />
					<xsd:element name="Message">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="Destination"
									type="xsd:string" minOccurs="0" maxOccurs="1" />
								<xsd:element name="Content"
									type="xsd:string" minOccurs="0" maxOccurs="unbounded" />
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:element name="NotificationMessage"
				type="tns:NotificationMessageHolderType" />

			<xsd:element name="Notify">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element ref="tns:NotificationMessage"
							minOccurs="1" maxOccurs="unbounded" />
						<xsd:any namespace="##other"
							processContents="lax" minOccurs="0" maxOccurs="unbounded" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

		</schema>
	</types>

	<message name="NotifyMessage">
		<part name="notification" element="tns:Notify" />
	</message>

	<portType name="NotificationConsumerPort">
		<operation name="Notify">
			<input message="tns:NotifyMessage" />
		</operation>
	</portType>

	<binding name="NotificationConsumerSoapBinding"
		type="tns:NotificationConsumerPort">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<operation name="Notify">
			<soap:operation soapAction="Notify" />
			<input>
				<soap:body use="literal" />
			</input>
		</operation>
	</binding>

	<service name="NotificationConsumerService">
		<port name="NotificationConsumerPort"
			binding="tns:NotificationConsumerSoapBinding">
			<soap:address
				location="http://localhost:8080/safe-online-ws/consumer/" />
		</port>
	</service>

</definitions>
