safe-online-sdk-dotnet/src/main/resources/notification-ws/notification-subscription-manager.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="SafeOnlineNotificationSubscriptionManagerWebService"
	targetNamespace="urn:net:lin-k:safe-online:notification:subscription:manager"
	xmlns:tns="urn:net:lin-k:safe-online:notification:subscription:manager"
	xmlns:wsnt="http://docs.oasis-open.org/wsn/b-2" xmlns:wsa="http://www.w3.org/2005/08/addressing"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">

	<!-- ===================== Types Definitions ====================== -->

	<wsdl:types>
		<xsd:schema xmlns="http://www.w3.org/2001/XMLSchema"
			targetNamespace="urn:net:lin-k:safe-online:notification:subscription:manager">
			<xsd:import namespace="http://docs.oasis-open.org/wsn/b-2"
				schemaLocation="b-2.xsd" />
			<xsd:import namespace="http://www.w3.org/2005/08/addressing" />

			<xsd:complexType name="TopicType">
				<xsd:sequence>
					<xsd:element ref="wsnt:Topic" minOccurs="0" maxOccurs="1" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="StatusType">
				<xsd:sequence>
					<xsd:element ref="tns:StatusCode" />
					<xsd:element ref="tns:StatusMessage" minOccurs="0" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="StatusCode" type="tns:StatusCodeType" />
			<xsd:complexType name="StatusCodeType">
				<xsd:sequence>
					<xsd:element ref="tns:StatusCode" minOccurs="0" />
				</xsd:sequence>
				<xsd:attribute name="Value" type="anyURI" use="required" />
			</xsd:complexType>
			<xsd:element name="StatusMessage" type="string" />
			<xsd:element name="UnsubscribeRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="ConsumerReference" type="wsa:EndpointReferenceType"
							minOccurs="1" maxOccurs="1" />
						<xsd:element name="Topic" type="tns:TopicType"
							minOccurs="0" maxOccurs="1" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="UnsubscribeResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Status" type="tns:StatusType" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>

	<!-- =================== Message Definitions =================== -->

	<wsdl:message name="UnsubscribeRequestMessage">
		<wsdl:part name="request" element="tns:UnsubscribeRequest" />
	</wsdl:message>
	<wsdl:message name="UnsubscribeResponseMessage">
		<wsdl:part name="response" element="tns:UnsubscribeResponse" />
	</wsdl:message>

	<!-- ==== NotificationSubscriptionManager PortType Definition ==== -->

	<wsdl:portType name="NotificationSubscriptionManagerPort">
		<wsdl:operation name="Unsubscribe">
			<wsdl:input name="UnsubscribeRequest" message="tns:UnsubscribeRequestMessage" />
			<wsdl:output name="UnsubscribeResponse" message="tns:UnsubscribeResponseMessage" />
		</wsdl:operation>
	</wsdl:portType>

	<!-- ========================== Bindings ========================== -->

	<wsdl:binding name="NotificationSubscriptionManagerSoapBinding"
		type="tns:NotificationSubscriptionManagerPort">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="Unsubscribe">
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<!-- ========================== Services ========================== -->

	<wsdl:service name="NotificationSubscriptionManagerService">
		<wsdl:port name="NotificationSubscriptionManagerPort"
			binding="tns:NotificationSubscriptionManagerSoapBinding">
			<soap:address location="http://localhost:8080/safe-online-ws/subscription/" />
		</wsdl:port>
	</wsdl:service>

</wsdl:definitions>