safe-online-auth-ws/src/main/resources/safe-online-auth.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="urn:net:lin-k:safe-online:auth"
	xmlns:tns="urn:net:lin-k:safe-online:auth" xmlns:samlp="urn:oasis:names:tc:SAML:2.0:protocol"
	xmlns:wsa="http://www.w3.org/2005/08/addressing" name="SafeOnlineAuthenticationWebService">
	<types>
		<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
			<import namespace="urn:oasis:names:tc:SAML:2.0:protocol"
				schemaLocation="saml-schema-protocol-2.0.xsd" />
			<import namespace="urn:net:lin-k:safe-online:auth"
				schemaLocation="safe-online-auth.xsd" />
			<import namespace="http://www.w3.org/2005/08/addressing"
				schemaLocation="ws-addr-1.0.xsd" />
		</schema>
	</types>

	<!-- =================== Authentication ========================= -->

	<message name="AuthenticationRequestMessage">
		<part name="request" element="tns:WSAuthenticationRequest" />
	</message>
	<message name="AuthenticationResponseMessage">
		<part name="result" element="tns:WSAuthenticationResponse" />
	</message>
	<message name="AuthenticationGetInstanceRequestMessage">
		<part name="request" element="tns:AuthenticationGetInstanceRequest"></part>
	</message>
	<message name="AuthenticationGetInstanceResponseMessage">
		<part name="endpoint" element="tns:AuthenticationGetInstanceResponse" />
	</message>

	<!-- =================== Global usage agreement ==================== -->

	<message name="AuthenticationGlobalUsageAgreementMessageRequest">
		<part name="request" element="tns:WSAuthenticationGlobalUsageAgreementRequest" />
	</message>
	<message name="AuthenticationGlobalUsageAgreementMessageResponse">
		<part name="response" element="tns:WSAuthenticationGlobalUsageAgreementResponse" />
	</message>
	<message name="AuthenticationGlobalUsageAgreementConfirmationMessage">
		<part name="confirmation" element="tns:WSAuthenticationGlobalUsageAgreementConfirmation" />
	</message>

	<!-- ======= Application usage agreement / subscription ========= -->

	<message name="AuthenticationUsageAgreementMessageRequest">
		<part name="request" element="tns:WSAuthenticationUsageAgreementRequest" />
	</message>
	<message name="AuthenticationUsageAgreementMessageResponse">
		<part name="response" element="tns:WSAuthenticationUsageAgreementResponse" />
	</message>
	<message name="AuthenticationUsageAgreementConfirmationMessage">
		<part name="confirmation" element="tns:WSAuthenticationUsageAgreementConfirmation" />
	</message>

	<!-- ===================== Identity Confirmation =================== -->

	<message name="AuthenticationIdentityRequestMessage">
		<part name="request" element="tns:WSAuthenticationIdentityRequest"></part>
	</message>
	<message name="AuthenticationIdentityConfirmationMessage">
		<part name="confirmation" element="tns:WSAuthenticationIdentityConfirmation" />
	</message>

	<!-- =================== Missing Attributes ======================= -->

	<!-- ======================= Authentication Ports =================	-->

	<portType name="AuthenticationPort">
		<operation name="authenticate">
			<input message="tns:AuthenticationRequestMessage" />
			<output message="tns:AuthenticationResponseMessage" />
		</operation>
		<operation name="requestGlobalUsageAgreement">
			<input message="tns:AuthenticationGlobalUsageAgreementMessageRequest" />
			<output message="tns:AuthenticationGlobalUsageAgreementMessageResponse" />
		</operation>
		<operation name="confirmGlobalUsageAgreement">
			<input message="tns:AuthenticationGlobalUsageAgreementConfirmationMessage" />
			<output message="tns:AuthenticationResponseMessage" />
		</operation>
		<operation name="requestUsageAgreement">
			<input message="tns:AuthenticationUsageAgreementMessageRequest" />
			<output message="tns:AuthenticationUsageAgreementMessageResponse" />
		</operation>
		<operation name="confirmUsageAgreement">
			<input message="tns:AuthenticationUsageAgreementConfirmationMessage" />
			<output message="tns:AuthenticationResponseMessage" />
		</operation>
		<operation name="requestIdentity">
			<input message="tns:AuthenticationIdentityRequestMessage" />
			<output message="tns:AuthenticationResponseMessage" />
		</operation>
		<operation name="confirmIdentity">
			<input message="tns:AuthenticationIdentityConfirmationMessage"></input>
			<output message="tns:AuthenticationResponseMessage" />
		</operation>
	</portType>
	<portType name="GetAuthenticationPort">
		<operation name="getInstance">
			<input message="tns:AuthenticationGetInstanceRequestMessage" />
			<output message="tns:AuthenticationGetInstanceResponseMessage" />
		</operation>
	</portType>

	<binding name="AuthenticationBinding" type="tns:AuthenticationPort">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<operation name="authenticate">
			<soap:operation soapAction="urn:net:lin-k:safe-online:auth:authenticate" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="requestGlobalUsageAgreement">
			<soap:operation
				soapAction="urn:net:lin-k:safe-online:auth:requestGlobalUsageAgreement" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="confirmGlobalUsageAgreement">
			<soap:operation
				soapAction="urn:net:lin-k:safe-online:auth:confirmGlobalUsageAgreement" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="requestUsageAgreement">
			<soap:operation
				soapAction="urn:net:lin-k:safe-online:auth:requestUsageAgreement" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="confirmUsageAgreement">
			<soap:operation
				soapAction="urn:net:lin-k:safe-online:auth:confirmUsageAgreement" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="requestIdentity">
			<soap:operation soapAction="urn:net:lin-k:safe-online:auth:requestIdentity" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="confirmIdentity">
			<soap:operation soapAction="urn:net:lin-k:safe-online:auth:confirmIdentity" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
	</binding>
	<binding name="GetAuthenticationBinding" type="tns:GetAuthenticationPort">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<operation name="getInstance">
			<soap:operation soapAction="urn:net:lin-k:safe-online:auth:getInstance" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
	</binding>

	<service name="AuthenticationService">
		<port name="AuthenticationPort" binding="tns:AuthenticationBinding">
			<soap:address location="http://localhost:8080/safe-online-ws/auth/" />
		</port>
	</service>
	<service name="GetAuthenticationService">
		<port name="GetAuthenticationPort" binding="tns:GetAuthenticationBinding">
			<soap:address location="http://localhost:8080/safe-online-ws/get_auth/" />
		</port>
	</service>
</definitions>
