safe-online-option-connection-manager-ws/src/main/resources/ConnectionManagerService_schema1.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" targetNamespace="http://ws.manager.connection.option.safeonline.link.net/" xmlns:tns="http://ws.manager.connection.option.safeonline.link.net/" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="getIMEI" type="tns:getIMEI"/>

  <xs:element name="getIMEIResponse" type="tns:getIMEIResponse"/>

  <xs:complexType name="getIMEI">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="getIMEIResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

