linkid-sdk-dotnet/src/main/linkid-sdk-dotnet/linkid-sdk-dotnet/src/main/resources/notification-ws/notification-producer.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="SafeOnlineNotificationProducerWebService"
	targetNamespace="urn:net:lin-k:safe-online:notification:producer"
	xmlns:tns="urn:net:lin-k:safe-online:notification:producer" xmlns:wsnt="http://docs.oasis-open.org/wsn/b-2"
	xmlns:wsa="http://www.w3.org/2005/08/addressing" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">

	<!-- ===================== Types Definitions ====================== -->
	<wsdl:types>
		<xsd:schema xmlns="http://www.w3.org/2001/XMLSchema"
			targetNamespace="urn:net:lin-k:safe-online:notification:producer">
			<xsd:import namespace="http://docs.oasis-open.org/wsn/b-2"
				schemaLocation="b-2.xsd" />
			<xsd:import namespace="ttp://www.w3.org/2005/08/addressing" />

			<xsd:complexType name="FilterType">
				<xsd:sequence>
					<xsd:element ref="wsnt:Topic" minOccurs="0" maxOccurs="1" />
					<!--xsd:any namespace="##other" processContents="lax"
						minOccurs="0" maxOccurs="unbounded" /-->
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="SubscribeRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="ConsumerReference" type="wsa:EndpointReferenceType"
							minOccurs="1" maxOccurs="1" />
						<xsd:element name="Filter" type="tns:FilterType"
							minOccurs="0" maxOccurs="1" />
						<xsd:element name="InitialTerminationTime" type="wsnt:AbsoluteOrRelativeTimeType"
							nillable="true" minOccurs="0" maxOccurs="1" />
						<xsd:element name="SubscriptionPolicy" minOccurs="0"
							maxOccurs="1">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:any namespace="##any" processContents="lax"
										minOccurs="0" maxOccurs="unbounded" />
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<xsd:any namespace="##other" processContents="lax"
							minOccurs="0" maxOccurs="unbounded" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:complexType name="SubscribeStatusType">
				<xsd:sequence>
					<element name="StatusMessage" type="string" />
				</xsd:sequence>
				<attribute name="StatusCode" type="anyURI" use="required" />
			</xsd:complexType>
			<xsd:element name="SubscribeStatus" type="tns:SubscribeStatusType" />

			<xsd:element name="SubscribeResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="SubscriptionReference" type="wsa:EndpointReferenceType"
							minOccurs="1" maxOccurs="1" />
						<xsd:element ref="wsnt:CurrentTime" minOccurs="0"
							maxOccurs="1" />
						<xsd:element ref="wsnt:TerminationTime" minOccurs="0"
							maxOccurs="1" />
						<xsd:element ref="tns:SubscribeStatus" minOccurs="0"
							maxOccurs="1" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>


		</xsd:schema>
	</wsdl:types>

	<!-- =================== Message Definitions =================== -->

	<wsdl:message name="SubscribeRequestMessage">
		<wsdl:part name="request" element="tns:SubscribeRequest" />
	</wsdl:message>
	<wsdl:message name="SubscribeResponseMessage">
		<wsdl:part name="response" element="tns:SubscribeResponse" />
	</wsdl:message>

	<!-- ========= NotificationProducer PortType Definition =========== -->

	<wsdl:portType name="NotificationProducerPort">
		<wsdl:operation name="Subscribe">
			<wsdl:input message="tns:SubscribeRequestMessage" />
			<wsdl:output message="tns:SubscribeResponseMessage" />
		</wsdl:operation>
	</wsdl:portType>

	<!-- ========================== Bindings ========================== -->

	<wsdl:binding name="NotificationProducerSoapBinding" type="tns:NotificationProducerPort">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="Subscribe">
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<!-- ========================== Services ========================== -->

	<wsdl:service name="NotificationProducerService">
		<wsdl:port name="NotificationProducerPort" binding="tns:NotificationProducerSoapBinding">
			<soap:address location="http://localhost:8080/safe-online-ws/producer/" />
		</wsdl:port>
	</wsdl:service>

</wsdl:definitions>
